<% layout('layouts/boilerplate') %>
<main class="admin">
  <h2>Administrator Main Page</h2>
  <div class="admin-options">
    <div>
      <a href="/admin/posts">View all posts</a>
    </div>
    <div>
      <a href="/admin/fide-schools">View FIDE School Awards applications</a>
    </div>
  </div>
  <h3>Users</h3>
  <div class="user-csv-download">
    <button id="user-csv-download" class="fancytime">
      Download spreadsheet
    </button>
  </div>
  <%- include('./profiles') %>
  <div class="profiles-load-more"></div>
  <button class="fancytime" id="load-more">Load More</button>
</main>
<script src="/js/adminmain.js"></script>
