<% layout('layouts/boilerplate') %>
<main class="admin">
  <h2>Administrator Main Page</h2>
  <p>
    <a href="/admin/posts"> View all posts. </a>
  </p>
  <h3>List of All the Registered Users:</h3>
  <%- include('./profiles') %>
</main>
