<% layout('layouts/boilerplate') %>
<main>
  <div class="edit-main">
    <label for="title" class="title-label">Title:</label>
    <input type="text" id="title" name="title" class="title-input" value="" />
    <div class="tags">
      <div id="tag-select"></div>
      <input
        type="checkbox"
        name="tags"
        id="commision-news"
        value="commisionNews"
      />
      <label for="commision-news">Commission News</label>
      <input type="checkbox" name="tags" id="conferences" value="conferences" />
      <label for="conferences">Conferences</label>
      <input
        type="checkbox"
        name="tags"
        id="cie-initiatives"
        value="cieInitiatives"
      />
      <label for="cie-initiatives">CIE Initiatives</label>
      <input
        type="checkbox"
        name="tags"
        id="personal-stories"
        value="personalStories"
      />
      <label for="personal-stories">Personal Stories</label>
      <input
        type="checkbox"
        name="tags"
        id="research-news"
        value="researchNews"
      />
      <label for="research-news">Research News</label>
      <input type="checkbox" name="tags" id="course-news" value="courseNews" />
      <label for="course-news">Course News</label>
      <input type="checkbox" name="tags" id="cie-news" value="cieNews" />
      <label for="cie-news">CIE News</label>
      <input type="checkbox" name="tags" id="blog" value="blog" />
      <label for="blog">Blog</label>
    </div>
    <div class="country-tag" id="country-select"></div>

    <div class="editor-container">
      <div id="editor"></div>
    </div>
    <button id="save-edit" class="fancytime">Save</button>
  </div>
</main>
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="/js/virtual-select.min.js"></script>
<script src="/js/image-resize.min.js"></script>
<script src="/js/postnew.js"></script>
