<% layout('layouts/boilerplate') %>
<main>
  <div class="edit-main">
    <label for="title" class="title-label">Title:</label>
    <input type="text" id="title" name="title" class="title-input" value="" />
    <div class="tags">
      <div>
        <div>Tags:</div>
        <div id="tag-select"></div>
      </div>
      <div>
        <div>Countries:</div>
        <div class="country-tag" id="country-select"></div>
      </div>
      <div>
        <label for="featured-box">Featured?</label>
        <input type="checkbox" id="featured-box" checked name="featured" />
      </div>
    </div>
    <div class="editor-container">
      <div id="editor"></div>
    </div>
    <button id="save-edit" class="fancytime">Save</button>
  </div>
</main>
<script src="/js/orszagkodok.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="/js/virtual-select.min.js"></script>
<script src="/js/image-resize.min.js"></script>
<script src="/js/postnew.js"></script>
