<div id="cookie-warning">
  <input type="checkbox" id="cookies" />
  <div class="cookies-desc hidden">
    <div>
      <h2>Privacy Overview</h2>
      <p>
        This website uses cookies. Cookies that are essential for the website to
        function properly are always enabled.
      </p>
      <p>Link to our <a href="">Cookie Policy</a></p>
      <p>
        If you have any questions or concerns regarding our use of cookies,
        please contact us:
      </p>
      <p><strong>Email:</strong> edu.secretary@fide.com</p>
    </div>
    <div class="cookie-button-container">
      <button class="fancytime" id="accept-cookies">Accept all</button>
      <button class="fancytime" id="accept-essential-cookies">
        Only accept essential cookies
      </button>
    </div>
  </div>
</div>
<script src="/js/cookies.js"></script>
