<p>Featured</p>
<a href="">
  <div
    class="featured-title"
    data-f="<%= JSON.stringify(featuredPosts) %>"
  ></div>
  <div class="featured-img-container">
    <img src="" alt="image" class="featured-img" />
  </div>
  <div class="featured-text"></div>
  <div class="read-more">Read more here >></div>
</a>
<script src="/js/featured.js"></script>
