<div class="gtranslate_wrapper"></div>
<script>
  window.gtranslateSettings = {
    default_language: "en",
    native_language_names: true,
    languages: ["en", "fr", "de", "it", "es", "zh-CN", "ru"],
    wrapper_selector: ".gtranslate_wrapper",
    switcher_horizontal_position: "right",
    switcher_vertical_position: "top",
  };
</script>
<script src="/js/translator.js"></script>
