<input type="checkbox" name="login-signup" id="login-signup" />
<label for="login-signup">
  <div>
    <img src="/css/login.png" alt="" />
    <p>
      Login or <br />
      sign up
    </p>
  </div>
</label>
<div id="login-signup-form-container">
  <div id="login-signup-forms">
    <div id="user-btns">
      <button>Log In</button>
      <button>Sign Up</button>
    </div>
    <form action="/login" method="post" id="login-form" novalidate>
      <label for="user-email"
        >Email:
        <span class="error login-email-error"></span>
      </label>
      <input
        type="email"
        name="email"
        id="user-email"
        placeholder="your.name@example.com"
        required
      />
      <label for="user-password"
        >Password:
        <span class="visible-password" id="userspan">👁</span>
        <span class="error login-password-error"></span>
      </label>
      <input
        type="password"
        name="password"
        id="user-password"
        required
        minlength="6"
        maxlength="16"
      />

      <button type="submit" class="fancytime">Log In</button>
    </form>
    <form action="/register" method="post" id="signup-form" novalidate>
      <div class="names">
        <label for="first-name">First name:</label>
        <label for="last-name"
          >Last name:
          <span class="error name-error"></span>
        </label>
      </div>
      <div class="names">
        <input
          type="text"
          name="firstName"
          id="first-name"
          required
          maxlength="16"
        />
        <input
          type="text"
          name="lastName"
          id="last-name"
          required
          maxlength="16"
        />
      </div>

      <div class="names">
        <label for="nuser-email"
          >Email:
          <span class="error email-error"></span>
        </label>
        <label for="nuser-password"
          >Password:
          <span class="visible-password" id="newspan">👁</span>
          <span class="error password-error"></span>
        </label>
      </div>
      <div class="names">
        <input
          type="email"
          name="email"
          id="nuser-email"
          placeholder="your.name@example.com"
          required
        />

        <input
          type="password"
          name="password"
          id="nuser-password"
          required
          minlength="6"
          maxlength="16"
        />
      </div>

      <div class="names">
        <label for="workplace">Place of Work</label>
        <label for="job-title">Job title</label>
      </div>
      <div class="names">
        <input type="text" name="workplace" id="workplace" />
        <input type="text" name="jobtitle" id="job-title" />
      </div>
      <div class="names">
        <label for="country-residence">Country of Residence</label>
        <label for="resp-cie">Responsibilities in Chess and Education</label>
      </div>
      <div class="names">
        <input
          list="country-residence"
          id="country-residence-in"
          name="countryResidence"
        />
        <datalist id="country-residence"></datalist>
        <textarea name="respCie" id="resp-cie"></textarea>
      </div>
      <div class="names">
        <input type="checkbox" name="newsletter" id="newsletter" />
        <label for="newsletter">Sign Up for quarterly Newsletter?</label>
      </div>
      <div class="names">
        <input type="checkbox" id="pripo" checked="checked" />
        <label for="pripo"
          >By registering you agree to our
          <a href="https://www.fide.com/privacy"> Privacy Policy </a>
        </label>
      </div>
      <button type="submit" class="fancytime">Sign Up</button>
    </form>
  </div>
</div>
<script src="/js/orszagkodok.js"></script>
<script src="/js/login-signup.js"></script>
<script src="/js/signup-validation.js"></script>
<script src="/js/login-validation.js"></script>
