<nav id="mainmenu">
  <div class="logo-container">
    <a href="/"><img src="/edulogo.png" alt="CIE" id="logo" /></a>
    <h1>Chess in Education Commission</h1>
    <a href="https://www.fide.com/" target="_blank"
      ><img src="/fide-logo.png" alt="FIDE" id="fidelogo"
    /></a>
  </div>
  <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
  <label for="menu-icon"></label>
  <div class="lista2-hatter"></div>
  <div class="navtarolo">
    <ul class="lista-1">
      <li>CIE</li>
      <ul class="lista-2">
        <img src="l2b.png" alt="back" class="l2b" />
        <li>
          <a href="/intro"> Introduction </a>
        </li>
        <li>Commission</li>
        <li>Commission News</li>
        <li>Conferences</li>
        <li>CIE Initiatives</li>
        <li>Personal Stories</li>
      </ul>
      <li>Research</li>
      <ul class="lista-2">
        <img src="l2b.png" alt="back" class="l2b" />
        <li>Research News</li>
        <li>FIDE Journal of Chess in Education</li>
      </ul>
      <li>
        <a href=""> Partnerships </a>
      </li>
      <ul class="lista-2">
        <img src="l2b.png" alt="back" class="l2b" />
        <li>Click to view our partnerships!</li>
      </ul>
      <li>Certification</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li>Schools</li>
        <li>CIE Courses</li>
      </ul>
      <li>EDU Courses</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li>Course News</li>
        <li>
          Preparation of Teachers
          <ul>
            <li>
              <a href="/titleholders/si">School Instructors</a>
            </li>
            <li>Course information</li>
            <li>Coursebook</li>
          </ul>
        </li>
        <li>
          Preparation of Lecturers
          <ul>
            <li>
              <a href="/titleholders/lsi">Lead School Instructors</a>
            </li>
            <li>Course information</li>
            <li>Coursebook</li>
          </ul>
        </li>
        <li>Course Registration</li>
      </ul>
      <li>Materials</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li>
          Recommended
          <ul>
            <li>
              <a href="#">Books</a>
            </li>
            <li>
              <a href="#">Online Tools</a>
            </li>
          </ul>
        </li>
        <li><a href="/download">Download</a></li>
        <li>Send Us</li>
      </ul>
      <li>News</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li>CIE News</li>
        <li><a href="/blog">Blog</a></li>
        <li>
          <a href="/gallery">Gallery</a>
        </li>
      </ul>
      <li>
        <a href="/search"
          ><img src="/css/searchicon.png" alt="Search" id="kereses"
        /></a>
      </li>
    </ul>
  </div>
</nav>
<script src="/js/script.js"></script>
