<nav id="mainmenu">
  <div class="logo-container">
    <a href="/"><img src="/edulogo.png" alt="CIE" id="logo" /></a>
    <h1>Chess in Education Commission</h1>
    <div id="socmed-container">
      <input type="checkbox" name="socmed-btn" id="socmed-btn" />
      <label for="socmed-btn">
        <div id="socmedbar">
          <ul class="socmed-list">
            <li>
              <a
                href="https://www.facebook.com/FIDE.Chess.in.Education.Commission"
                target="_blank"
              >
                <img src="/css/fb.png" alt="Facebook" />
              </a>
            </li>
            <li>
              <a href="https://twitter.com/FIDEschoolChess" target="_blank">
                <img src="/css/twitter.png" alt="Twitter" />
              </a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/@FIDEChessinEducationComm-lf6zw/playlists"
                target="_blank"
                ><img src="/css/yt.png" alt="YouTube"
              /></a>
            </li>
          </ul>
        </div>
      </label>
    </div>
    <a href="https://www.fide.com/" target="_blank"
      ><img src="/fide-logo.png" alt="FIDE" id="fidelogo"
    /></a>
  </div>
  <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
  <label for="menu-icon"></label>
  <div class="lista2-hatter"></div>
  <div class="navtarolo">
    <ul class="lista-1">
      <li>CIE</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li>
          <a href="/intro"> Introduction </a>
        </li>
        <li><a href="/commission">Commission</a></li>
        <li><a href="/commissionnews">Commission News</a></li>
        <li><a href="/conferences">Conferences</a></li>
        <li><a href="/initiatives">CIE Initiatives</a></li>
        <li><a href="/personalstories">Personal Stories</a></li>
      </ul>
      <li>Research</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li><a href="/researchnews">Research News</a></li>
        <li>
          <a href="https://www.edujournal.fide.com/" target="_blank">
            FIDE Journal of Chess in Education
          </a>
        </li>
      </ul>
      <li>
        <a href="/partnerships"> Partnerships </a>
      </li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li>Click to view our partnerships!</li>
      </ul>
      <li>Certification</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li>FIDE Schools</li>
        <li>CIE Courses</li>
      </ul>
      <li>EDU Courses</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li><a href="/coursenews">Course News</a></li>
        <li>
          Preparation of Teachers
          <ul>
            <li>
              <a href="/pot/titleholders/si">School Instructors</a>
            </li>
            <li>
              <a href="/pot/potinfo">Course information</a>
            </li>
            <li>
              <a href="/pot/coursebook/password">Coursebook</a>
            </li>
          </ul>
        </li>
        <li>
          Preparation of Lecturers
          <ul>
            <li>
              <a href="/pot/titleholders/lsi">Lead School Instructors</a>
            </li>
            <li><a href=""> Senior Lead Instructors </a></li>
            <li>Course information</li>
            <li>Coursebook</li>
          </ul>
        </li>
        <li>
          <a href="/course-registration"> Course Registration </a>
        </li>
      </ul>
      <li>Materials</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li>
          Recommended
          <ul>
            <li>
              <a href="#">Books</a>
            </li>
            <li>
              <a href="/onlinetools">Online Tools</a>
            </li>
          </ul>
        </li>
        <li><a href="/download">Download</a></li>
        <li>
          <a href="/sendus">Send Us</a>
        </li>
      </ul>
      <li>News</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li><a href="/fullcalendar">Calendar</a></li>
        <li><a href="/cienews">CIE News</a></li>
        <li><a href="/blog">Blog</a></li>
        <li>
          <a href="/gallery">Gallery</a>
        </li>
      </ul>
      <li>
        <a href="/search"
          ><img src="/css/searchicon.png" alt="Search" id="kereses"
        /></a>
      </li>
    </ul>
  </div>
</nav>
<div class="newtitle">Chess In Education Commission</div>
<script src="/js/script.js"></script>
