<nav id="mainmenu">
  <div class="logo-container">
    <a href="/" id="main-logo"
      ><img src="/edulogo.png" alt="CIE" id="logo"
    /></a>
    <h1>Chess in Education Commission</h1>
    <div id="socmed-container">
      <input type="checkbox" name="socmed-btn" id="socmed-btn" />
      <label for="socmed-btn">
        <div id="socmedbar">
          <ul class="socmed-list">
            <li>
              <a
                href="https://www.facebook.com/FIDE.Chess.in.Education.Commission"
                target="_blank"
              >
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg
                  width="50px"
                  height="50px"
                  viewBox="0 0 135.46666 135.46666"
                  version="1.1"
                  id="svg5"
                  xml:space="preserve"
                  inkscape:version="1.2.2 (732a01da63, 2022-12-09)"
                  sodipodi:docname="facebook.svg"
                  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:svg="http://www.w3.org/2000/svg"
                >
                  <sodipodi:namedview
                    id="namedview7"
                    pagecolor="#ffffff"
                    bordercolor="#000000"
                    borderopacity="0.25"
                    inkscape:showpageshadow="2"
                    inkscape:pageopacity="0.0"
                    inkscape:pagecheckerboard="0"
                    inkscape:deskcolor="#d1d1d1"
                    inkscape:document-units="mm"
                    showgrid="false"
                    inkscape:zoom="0.70710678"
                    inkscape:cx="354.9676"
                    inkscape:cy="229.8097"
                    inkscape:window-width="1920"
                    inkscape:window-height="991"
                    inkscape:window-x="-9"
                    inkscape:window-y="-9"
                    inkscape:window-maximized="1"
                    inkscape:current-layer="layer1"
                  />
                  <defs id="defs2">
                    <linearGradient
                      inkscape:collect="always"
                      id="linearGradient18698"
                    >
                      <stop
                        style="stop-color: #1c3977; stop-opacity: 1"
                        offset="0"
                        id="stop18694"
                      />
                      <stop
                        style="stop-color: #2b4886; stop-opacity: 1"
                        offset="0.36153847"
                        id="stop19451"
                      />
                      <stop
                        style="stop-color: #3a5795; stop-opacity: 1"
                        offset="0.73589748"
                        id="stop19453"
                      />
                      <stop
                        style="stop-color: #4966a4; stop-opacity: 1"
                        offset="1"
                        id="stop18696"
                      />
                    </linearGradient>
                    <linearGradient
                      inkscape:collect="always"
                      xlink:href="#linearGradient18698"
                      id="linearGradient18700"
                      x1="110.44426"
                      y1="48.178043"
                      x2="111.19262"
                      y2="194.85556"
                      gradientUnits="userSpaceOnUse"
                    />
                  </defs>
                  <g
                    inkscape:label="Layer 1"
                    inkscape:groupmode="layer"
                    id="layer1"
                    transform="translate(-42.718163,-54.539059)"
                  >
                    <path
                      style="
                        display: inline;
                        fill: #ffffff;
                        fill-opacity: 1;
                        stroke-width: 0.086183;
                      "
                      d="m 107.29796,189.92313 c -2.04377,-0.0984 -5.14902,-0.3909 -6.70229,-0.6314 -0.28357,-0.0438 -0.689572,-0.10272 -0.90223,-0.13083 -1.278407,-0.16846 -4.219283,-0.7817 -6.229695,-1.29903 -7.023051,-1.80717 -13.766021,-4.80649 -19.80998,-8.81163 -2.592983,-1.71826 -4.733872,-3.33768 -7.08512,-5.35934 -1.305611,-1.12259 -5.078385,-4.86217 -6.239527,-6.18464 -4.290107,-4.88613 -8.132815,-10.80216 -10.695855,-16.46678 -4.936778,-10.91084 -6.891171,-22.66095 -5.743808,-34.5327 1.353368,-14.00328 7.087616,-27.209281 16.439663,-37.860635 1.161142,-1.322461 4.933916,-5.062045 6.239527,-6.184636 8.771881,-7.542242 18.801509,-12.538749 29.816611,-14.853875 1.416716,-0.297761 2.604503,-0.520678 3.222262,-0.604726 0.165406,-0.02251 0.726072,-0.10118 1.245942,-0.174838 5.06345,-0.717414 10.47529,-0.839312 15.46681,-0.34838 5.55832,0.546677 10.45101,1.614084 15.56594,3.395919 8.20597,2.858621 15.7357,7.30391 22.39672,13.222216 1.16684,1.036737 3.88229,3.739196 4.96712,4.943357 8.36123,9.281044 13.89201,20.462903 16.18261,32.717368 0.32469,1.73706 0.31639,1.68212 0.60892,4.01944 0.68152,5.44543 0.68152,11.151 0,16.59645 -0.29253,2.33733 -0.28423,2.28234 -0.60892,4.01945 -1.69008,9.04162 -5.17299,17.57973 -10.24335,25.11077 -2.52045,3.7436 -4.98494,6.72942 -8.28563,10.03827 -7.06931,7.08681 -15.60469,12.45484 -25.01747,15.73387 -5.13306,1.78815 -10.06581,2.86205 -15.60887,3.39815 -2.73301,0.26432 -6.48758,0.36809 -8.97938,0.24817 z"
                      id="path4992"
                      inkscape:label="white-bg"
                      sodipodi:nodetypes="scccssssssssssssssssscssssss"
                    />
                    <path
                      style="
                        display: inline;
                        fill: url(#linearGradient18700);
                        fill-opacity: 1;
                        stroke-width: 0.264583;
                      "
                      d="M 96.469493,188.61917 C 17.677167,171.58857 29.955148,54.484071 110.53428,54.472524 c 78.98098,-0.01132 93.06699,114.979326 16.36229,133.573036 -3.28812,0.79706 -5.83825,1.10185 -5.83825,1.10185 0,0 0.0174,-10.11703 0.0174,-23.65289 0,-11.85513 0.0284,-23.65552 0.0284,-23.65552 0,0 3.87165,-0.0547 7.77174,-0.0547 7.80017,0 7.80017,0 7.92998,-0.59531 0.25571,-1.17268 3.04464,-18.9856 3.04464,-18.9856 0,0 -0.96075,-0.0213 -9.5316,0.002 -4.6388,0.0125 -9.19193,-0.0473 -9.19193,-0.0473 0,0 -0.0412,-4.02066 0.003,-8.08863 0.0857,-7.83205 0.11177,-8.18534 0.69752,-9.45856 2.11449,-4.59623 4.64242,-5.688833 13.1621,-5.688833 2.83249,0 5.63278,0.0014 5.63278,0.0014 0,0 0.0322,-4.151298 0.0322,-8.301177 0,-4.643835 0.0246,-8.445388 0.0246,-8.445388 0,0 -3.37258,-0.329682 -7.44254,-0.707946 -16.08764,-1.495193 -25.35326,2.192202 -30.22658,12.029135 -2.57384,5.195363 -3.091333,8.786539 -3.09768,21.497389 -0.0018,3.60495 -0.09849,7.09228 -0.09849,7.09228 0,0 -4.204592,0.11762 -8.504078,0.11762 -4.299479,0 -8.586122,0.0231 -8.586122,0.0231 0,0 -0.01283,4.87165 -0.01283,9.76644 0,4.89479 -0.06783,9.79301 -0.06783,9.79301 0,0 4.367309,-0.003 8.666788,-0.003 4.299479,0 8.505315,0.051 8.505315,0.051 0,0 0.118303,11.78915 0.09364,23.62923 -0.04906,23.55323 -0.05507,23.67394 -0.05507,23.67394 0,0 -1.007512,-0.018 -3.384511,-0.51925 z"
                      id="path2161"
                      sodipodi:nodetypes="csscscsscscscscscssscscscscsccc"
                      inkscape:label="facebook"
                    />
                  </g>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/FIDEschoolChess" target="_blank">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg
                  width="50px"
                  height="50px"
                  viewBox="0 0 135.46666 135.46666"
                  version="1.1"
                  id="svg5"
                  xml:space="preserve"
                  inkscape:version="1.2.2 (732a01da63, 2022-12-09)"
                  sodipodi:docname="twitter-x.svg"
                  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:svg="http://www.w3.org/2000/svg"
                >
                  <sodipodi:namedview
                    id="namedview7"
                    pagecolor="#ffffff"
                    bordercolor="#000000"
                    borderopacity="0.25"
                    inkscape:showpageshadow="2"
                    inkscape:pageopacity="0.0"
                    inkscape:pagecheckerboard="0"
                    inkscape:deskcolor="#d1d1d1"
                    inkscape:document-units="mm"
                    showgrid="false"
                    inkscape:zoom="1"
                    inkscape:cx="146"
                    inkscape:cy="315.5"
                    inkscape:window-width="1920"
                    inkscape:window-height="991"
                    inkscape:window-x="-9"
                    inkscape:window-y="-9"
                    inkscape:window-maximized="1"
                    inkscape:current-layer="layer1"
                  />
                  <defs id="defs2" />
                  <g
                    inkscape:label="Layer 1"
                    inkscape:groupmode="layer"
                    id="layer1"
                    transform="translate(-42.718163,-54.539059)"
                  >
                    <path
                      style="
                        display: inline;
                        fill: #ffffff;
                        stroke-width: 0.0875277;
                        fill-opacity: 1;
                      "
                      d="m 107.6915,189.92251 c -2.08185,-0.0996 -5.24496,-0.39582 -6.82717,-0.63935 -0.28885,-0.0444 -0.70241,-0.10401 -0.919032,-0.13248 -1.302224,-0.17058 -4.297891,-0.79153 -6.345758,-1.31537 -7.153895,-1.82992 -14.022491,-4.86699 -20.179053,-8.92253 -2.641292,-1.73989 -4.822067,-3.37969 -7.21712,-5.42679 -1.329936,-1.13672 -5.172999,-4.92337 -6.355774,-6.26248 -4.370034,-4.94762 -8.284334,-10.93811 -10.895126,-16.67402 -5.028753,-11.04816 -7.019558,-22.94615 -5.850819,-34.96731 1.378582,-14.17952 7.219663,-27.551725 16.745945,-38.337131 1.182775,-1.339105 5.025838,-5.125754 6.355774,-6.262473 8.935307,-7.637165 19.151793,-12.696555 30.372113,-15.040818 1.44311,-0.301508 2.653027,-0.527231 3.282291,-0.612337 0.168489,-0.02279 0.739609,-0.102453 1.269159,-0.177038 5.15779,-0.726443 10.67045,-0.849875 15.75497,-0.352765 5.66187,0.553557 10.64571,1.634398 15.85594,3.438659 8.35885,2.894598 16.02887,7.395833 22.81398,13.388623 1.18859,1.049785 3.95463,3.786256 5.05966,5.005572 8.51701,9.39785 14.15083,20.720438 16.48411,33.129128 0.33074,1.75893 0.32228,1.70329 0.62027,4.07003 0.69422,5.51396 0.69422,11.29134 0,16.80532 -0.29799,2.36675 -0.28953,2.31107 -0.62027,4.07004 -1.72156,9.15541 -5.26936,17.80098 -10.43419,25.4268 -2.56741,3.79072 -5.07781,6.81411 -8.43999,10.16461 -7.20102,7.176 -15.89542,12.61159 -25.48357,15.93189 -5.2287,1.81065 -10.25334,2.89807 -15.89968,3.44091 -2.78392,0.26765 -6.60844,0.37273 -9.14666,0.2513 z"
                      id="path4992"
                      inkscape:label="white-bg"
                      transform="translate(1.1458333e-6)"
                      sodipodi:nodetypes="scccssssssssssssssssscssssss"
                    />
                    <path
                      style="
                        display: inline;
                        fill: #000000;
                        stroke-width: 0.0875277;
                      "
                      d="m 107.6915,189.92251 c -2.08185,-0.0996 -5.24496,-0.39582 -6.82717,-0.63935 -0.28885,-0.0444 -0.70241,-0.10401 -0.919032,-0.13248 -1.302224,-0.17058 -4.297891,-0.79153 -6.345758,-1.31537 -7.153895,-1.82992 -14.022491,-4.86699 -20.179053,-8.92253 -2.641292,-1.73989 -4.822067,-3.37969 -7.21712,-5.42679 -1.329936,-1.13672 -5.172999,-4.92337 -6.355774,-6.26248 -4.370034,-4.94762 -8.284334,-10.93811 -10.895126,-16.67402 -5.028753,-11.04816 -7.019558,-22.94615 -5.850819,-34.96731 1.378582,-14.17952 7.219663,-27.551725 16.745945,-38.337131 1.182775,-1.339105 5.025838,-5.125754 6.355774,-6.262473 8.935307,-7.637165 19.151793,-12.696555 30.372113,-15.040818 1.44311,-0.301508 2.653027,-0.527231 3.282291,-0.612337 0.168489,-0.02279 0.739609,-0.102453 1.269159,-0.177038 5.15779,-0.726443 10.67045,-0.849875 15.75497,-0.352765 5.66187,0.553557 10.64571,1.634398 15.85594,3.438659 8.35885,2.894598 16.02887,7.395833 22.81398,13.388623 1.18859,1.049785 3.95463,3.786256 5.05966,5.005572 8.51701,9.39785 14.15083,20.720438 16.48411,33.129128 0.33074,1.75893 0.32228,1.70329 0.62027,4.07003 0.69422,5.51396 0.69422,11.29134 0,16.80532 -0.29799,2.36675 -0.28953,2.31107 -0.62027,4.07004 -1.72156,9.15541 -5.26936,17.80098 -10.43419,25.4268 -2.56741,3.79072 -5.07781,6.81411 -8.43999,10.16461 -7.20102,7.176 -15.89542,12.61159 -25.48357,15.93189 -5.2287,1.81065 -10.25334,2.89807 -15.89968,3.44091 -2.78392,0.26765 -6.60844,0.37273 -9.14666,0.2513 z m 46.55414,-22.80839 c -0.0653,-0.11056 -8.46815,-12.3342 -10.75512,-15.64556 -0.68158,-0.98688 -2.36372,-3.42891 -3.73813,-5.42672 -2.70413,-3.93069 -3.65561,-5.31312 -14.20525,-20.6393 -3.85122,-5.59493 -7.0022,-10.20867 -7.0022,-10.25273 0,-0.0439 2.20568,-2.64955 4.90155,-5.78996 8.31299,-9.683847 14.26402,-16.619417 20.90952,-24.368777 3.50895,-4.091815 6.43957,-7.50859 6.51249,-7.592834 0.12601,-0.14556 -0.0548,-0.153175 -3.63639,-0.153175 h -3.76895 l -3.97608,4.617083 c -27.44202,31.866213 -24.39008,28.333193 -24.43356,28.284963 -0.0353,-0.0391 -1.812,-2.61804 -9.46152,-13.733487 -2.83258,-4.115977 -6.668127,-9.689311 -8.523425,-12.385165 -1.855313,-2.695854 -3.591768,-5.224771 -3.858808,-5.61982 l -0.485514,-0.718271 -12.975975,-0.0039 c -7.136789,-0.0021 -12.97459,0.02571 -12.972889,0.06181 0.0017,0.03611 2.296745,3.433275 5.100097,7.549266 2.803356,4.115992 7.831299,11.501139 11.173208,16.411457 3.341911,4.91029 8.595115,12.62737 11.673776,17.14908 3.07866,4.5217 5.60187,8.27009 5.60713,8.32977 0.008,0.10154 -1.033864,1.34044 -5.076887,6.0311 -3.323627,3.85606 -13.782794,15.99759 -19.113767,22.18829 -3.005482,3.49015 -6.322687,7.33994 -7.371569,8.55507 -1.048882,1.21513 -1.917014,2.24966 -1.929186,2.29891 -0.01483,0.0601 1.245973,0.0904 3.823278,0.0921 l 3.845407,0.003 0.190154,-0.20074 c 0.104586,-0.11046 1.979611,-2.28831 4.166719,-4.83974 4.189113,-4.88692 18.87025,-21.9991 22.640551,-26.38959 1.21953,-1.42015 2.24982,-2.59386 2.28949,-2.60825 0.0395,-0.0144 1.24596,1.69897 2.68062,3.80747 2.85585,4.19727 12.89852,18.95161 17.96516,26.39387 l 3.20289,4.70462 h 13.33394 c 10.64329,0 13.32088,-0.0221 13.26924,-0.10945 z m -25.11997,-9.14664 c -1.24175,-1.76915 -3.64107,-5.18601 -5.3318,-7.59303 -8.10576,-11.53984 -15.10514,-21.50954 -15.52724,-22.11655 l -0.46749,-0.67225 3.25735,-3.79167 c 1.79157,-2.0854 3.28902,-3.80324 3.32773,-3.81742 0.0387,-0.0143 2.09772,2.86108 4.57563,6.38952 2.47789,3.52843 8.98139,12.78839 14.45223,20.57771 5.47081,7.78935 9.94694,14.17997 9.94694,14.20138 0,0.0215 -2.6945,0.0388 -5.98778,0.0388 h -5.9878 z M 93.193045,106.80418 C 87.066108,98.080616 80.933831,89.347957 79.565759,87.398276 78.197685,85.448594 77.001893,83.745096 76.908445,83.612708 l -0.169913,-0.240705 6.023489,0.0029 6.023489,0.0029 3.999981,5.707785 c 2.199997,3.139284 7.189758,10.249324 11.088359,15.800092 l 7.08837,10.09231 -2.7249,3.16813 c -1.49869,1.74249 -2.99029,3.47189 -3.31465,3.84314 l -0.58975,0.67497 -11.139875,-15.86105 z"
                      id="path1484"
                      inkscape:label="twitter-x"
                    />
                  </g>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/@FIDEChessinEducationComm-lf6zw/playlists"
                target="_blank"
              >
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg
                  width="50px"
                  height="50px"
                  viewBox="0 0 135.75885 135.88763"
                  version="1.1"
                  id="svg5"
                  xml:space="preserve"
                  inkscape:version="1.2.2 (732a01da63, 2022-12-09)"
                  sodipodi:docname="youtube.svg"
                  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:svg="http://www.w3.org/2000/svg"
                >
                  <sodipodi:namedview
                    id="namedview7"
                    pagecolor="#ffffff"
                    bordercolor="#000000"
                    borderopacity="0.25"
                    inkscape:showpageshadow="2"
                    inkscape:pageopacity="0.0"
                    inkscape:pagecheckerboard="0"
                    inkscape:deskcolor="#d1d1d1"
                    inkscape:document-units="mm"
                    showgrid="false"
                    inkscape:zoom="1"
                    inkscape:cx="196.5"
                    inkscape:cy="242.5"
                    inkscape:window-width="1920"
                    inkscape:window-height="991"
                    inkscape:window-x="-9"
                    inkscape:window-y="-9"
                    inkscape:window-maximized="1"
                    inkscape:current-layer="layer1"
                    showguides="true"
                  />
                  <defs id="defs2" />
                  <g
                    inkscape:label="Layer 1"
                    inkscape:groupmode="layer"
                    id="layer1"
                    transform="translate(-42.425968,-54.408925)"
                  >
                    <path
                      style="
                        display: inline;
                        fill: #ff0000;
                        fill-opacity: 1;
                        stroke-width: 0.264583;
                      "
                      d="M 103.70462,189.82929 C 46.875955,182.87448 22.290874,115.89219 61.634132,75.207845 103.9841,31.414303 178.18482,61.377431 178.18482,122.27239 c 0,40.0507 -35.57439,72.31827 -74.4802,67.5569 z"
                      id="path2419"
                      inkscape:label="youtube"
                      sodipodi:nodetypes="ssss"
                    />
                    <path
                      d="m 139.03232,151.37856 c 5.72069,-1.03709 10.62607,-5.64294 12.12048,-11.38035 0.68969,-2.6479 0.68969,-32.25839 0,-34.90631 -1.49441,-5.737416 -6.39979,-10.343265 -12.12048,-11.380358 -2.28615,-0.414448 -53.788136,-0.454321 -55.955345,-0.04332 -5.526676,1.048114 -9.858196,4.637149 -11.997401,9.940858 -1.123979,2.78666 -1.123979,35.08531 0,37.87199 2.091762,5.18607 6.42739,8.8478 11.738344,9.91381 1.919299,0.38523 54.082902,0.37012 56.214402,-0.0164 z m -39.052393,-28.8335 c 0,-12.77212 0,-12.77212 1.018523,-12.2333 2.43213,1.28669 20.85168,12.0931 20.85168,12.2333 0,0.14021 -18.41955,10.94662 -20.85168,12.2333 -1.018523,0.53882 -1.018523,0.53882 -1.018523,-12.2333 z"
                      style="
                        display: inline;
                        fill: #ffffff;
                        fill-opacity: 1;
                        stroke-width: 0.303753;
                      "
                      id="path22762"
                    />
                  </g>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/fidechessineducation/"
                target="_blank"
                ><?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg
                  fill="#000000"
                  width="50px"
                  height="50px"
                  viewBox="0 0 12.289325 12.289326"
                  data-name="Instagram w/circle"
                  version="1.1"
                  id="svg5304"
                  sodipodi:docname="instagram.svg"
                  inkscape:version="1.2.2 (732a01da63, 2022-12-09)"
                  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:svg="http://www.w3.org/2000/svg"
                >
                  <defs id="defs5308">
                    <linearGradient
                      inkscape:collect="always"
                      id="linearGradient10125"
                    >
                      <stop
                        style="stop-color: #feda75; stop-opacity: 1"
                        offset="0"
                        id="stop10121"
                      />
                      <stop
                        style="stop-color: #fa7e1e; stop-opacity: 1"
                        offset="0.22020668"
                        id="stop10131"
                      />
                      <stop
                        style="stop-color: #d62976; stop-opacity: 1"
                        offset="0.46666667"
                        id="stop10133"
                      />
                      <stop
                        style="stop-color: #962fbf; stop-opacity: 1"
                        offset="0.71794873"
                        id="stop10135"
                      />
                      <stop
                        style="stop-color: #4f5bd5; stop-opacity: 1"
                        offset="1"
                        id="stop10123"
                      />
                    </linearGradient>
                    <linearGradient
                      id="linearGradient10117"
                      inkscape:swatch="solid"
                    >
                      <stop
                        style="stop-color: #ffffff; stop-opacity: 1"
                        offset="0"
                        id="stop10115"
                      />
                    </linearGradient>
                    <linearGradient
                      inkscape:collect="always"
                      xlink:href="#linearGradient10125"
                      id="linearGradient15947"
                      x1="2.4460855"
                      y1="16.901587"
                      x2="16.764179"
                      y2="2.3402989"
                      gradientUnits="userSpaceOnUse"
                      gradientTransform="scale(0.64006899)"
                    />
                  </defs>
                  <sodipodi:namedview
                    id="namedview5306"
                    pagecolor="#ffffff"
                    bordercolor="#000000"
                    borderopacity="0.25"
                    inkscape:showpageshadow="2"
                    inkscape:pageopacity="0.0"
                    inkscape:pagecheckerboard="0"
                    inkscape:deskcolor="#d1d1d1"
                    showgrid="false"
                    inkscape:zoom="1.005"
                    inkscape:cx="197.51244"
                    inkscape:cy="328.85572"
                    inkscape:window-width="1920"
                    inkscape:window-height="991"
                    inkscape:window-x="-9"
                    inkscape:window-y="-9"
                    inkscape:window-maximized="1"
                    inkscape:current-layer="svg5304"
                  />
                  <path
                    style="
                      display: inline;
                      fill: #ffffff;
                      fill-opacity: 1;
                      stroke-width: 0.00687024;
                    "
                    d="M 6.1438818,11.23758 C 5.9804728,11.22978 5.7321934,11.20652 5.6080021,11.1874 5.5853301,11.1839 5.5528681,11.1793 5.5358651,11.177 5.433651,11.163612 5.1985145,11.114869 5.037773,11.073753 4.476248,10.930116 3.9371169,10.691729 3.4538748,10.373402 3.246554,10.236834 3.0753803,10.108123 2.8873872,9.947441 2.7829977,9.8582175 2.4813472,9.5609947 2.3885086,9.4558854 2.0454951,9.067536 1.7382531,8.5973296 1.5333263,8.1471052 1.1386084,7.2799108 0.98234584,6.3460112 1.0740827,5.4024443 1.1822907,4.2894629 1.6407699,3.239849 2.3885086,2.3932789 2.4813472,2.2881696 2.7829977,1.9909472 2.8873872,1.9017237 3.588739,1.3022658 4.3906535,0.90514322 5.2713609,0.72113685 c 0.1132729,-0.023666 0.208242,-0.0413835 0.2576343,-0.0480637 0.013225,-0.001792 0.058054,-0.008038 0.099619,-0.0138962 0.4048463,-0.0570204 0.837547,-0.0667085 1.2366422,-0.0276895 0.4444129,0.0434495 0.835605,0.12828752 1.2445675,0.26990792 0.6561043,0.22720333 1.2581408,0.58051513 1.7907197,1.05090233 0.093295,0.0824 0.3104084,0.2971916 0.3971454,0.3928983 0.668518,0.7376578 1.110728,1.6263926 1.293873,2.6003781 0.02596,0.1380621 0.02529,0.1336948 0.04869,0.3194656 0.05448,0.4328029 0.05448,0.8862818 0,1.3190864 -0.02339,0.1857716 -0.02272,0.1814009 -0.04869,0.3194664 -0.135129,0.7186284 -0.413605,1.397238 -0.819003,1.9958054 C 10.571037,9.1969396 10.373991,9.4342525 10.110086,9.6972402 9.5448616,10.2605 8.8624185,10.687151 8.1098239,10.947769 7.699412,11.089891 7.3050165,11.175245 6.8618228,11.217854 c -0.2185157,0.02101 -0.5187106,0.02926 -0.717941,0.01973 z"
                    id="path4992"
                    inkscape:label="white-bg"
                    sodipodi:nodetypes="scccssssssssssssssssscssssss"
                  />
                  <path
                    d="M 8.6396511,4.257099 A 1.0599544,1.0599544 0 0 0 8.0315854,3.6496735 1.770431,1.770431 0 0 0 7.4376013,3.5395818 C 7.1002849,3.5242199 6.9991541,3.5203792 6.1446619,3.5203792 c -0.8544922,0 -0.955623,0.00384 -1.2929395,0.019203 A 1.770431,1.770431 0 0 0 4.2570983,3.6496735 1.0599544,1.0599544 0 0 0 3.6496728,4.2577392 1.770431,1.770431 0 0 0 3.539581,4.8517232 C 3.524217,5.1890396 3.520378,5.2901704 3.520378,6.1446627 c 0,0.8544923 0.00384,0.9556233 0.019203,1.2929394 a 1.770431,1.770431 0 0 0 0.1100918,0.5946243 1.0599544,1.0599544 0 0 0 0.6080655,0.6074255 1.770431,1.770431 0 0 0 0.5939841,0.1100919 c 0.3373165,0.015364 0.4384473,0.018562 1.2929395,0.018562 0.8544922,0 0.955623,-0.0032 1.2929394,-0.019204 A 1.770431,1.770431 0 0 0 8.0322254,8.6396519 1.0599544,1.0599544 0 0 0 8.6396511,8.0315863 1.770431,1.770431 0 0 0 8.7497429,7.4376021 c 0.015362,-0.3373161 0.018563,-0.4384471 0.018563,-1.2929394 0,-0.8544923 -0.0032,-0.9556231 -0.019203,-1.2929395 A 1.770431,1.770431 0 0 0 8.6396511,4.257099 Z M 6.1446619,7.7883599 A 1.6436973,1.6436973 0 1 1 7.7883593,6.1446627 1.6436973,1.6436973 0 0 1 6.1446619,7.7883599 Z M 7.8530061,4.82036 A 0.38404144,0.38404144 0 1 1 8.2370476,4.4363185 0.38404144,0.38404144 0 0 1 7.8530061,4.82036 Z M 7.2116569,6.1446627 a 1.066995,1.066995 0 1 1 -1.066995,-1.066995 1.066995,1.066995 0 0 1 1.066995,1.066995 z M 6.1446619,0 A 6.1446628,6.1446628 0 1 0 12.289326,6.1446627 6.1446628,6.1446628 0 0 0 6.1446619,0 Z M 9.3258052,7.463845 A 2.3490535,2.3490535 0 0 1 9.176669,8.2408889 1.6360164,1.6360164 0 0 1 8.2408879,9.1766697 2.3490535,2.3490535 0 0 1 7.4644843,9.325806 C 7.1226874,9.341168 7.0138756,9.345008 6.1446619,9.345008 c -0.8692137,0 -0.9780255,-0.00384 -1.3198225,-0.019202 A 2.3490535,2.3490535 0 0 1 4.0484358,9.1766697 1.6360164,1.6360164 0 0 1 3.1126549,8.2408889 2.3490535,2.3490535 0 0 1 2.9635187,7.4644849 C 2.9481568,7.1226883 2.9443161,7.0138765 2.9443161,6.1446627 c 0,-0.8692137 0.00384,-0.9780256 0.019203,-1.3198223 A 2.3490535,2.3490535 0 0 1 3.1120149,4.0484367 1.6360164,1.6360164 0 0 1 4.0484358,3.1120157 2.3490535,2.3490535 0 0 1 4.8248394,2.9635196 c 0.341797,-0.015364 0.4506088,-0.019202 1.3198225,-0.019202 0.8692137,0 0.9780255,0.00384 1.3198224,0.019202 a 2.3490535,2.3490535 0 0 1 0.7764036,0.1484961 1.6360164,1.6360164 0 0 1 0.9357811,0.936421 2.3490535,2.3490535 0 0 1 0.1491362,0.7764037 c 0.015361,0.3417967 0.019202,0.4506086 0.019202,1.3198223 0,0.8692138 -0.00384,0.9780256 -0.019202,1.3198222 z"
                    id="path5302"
                    style="
                      fill: url(#linearGradient15947);
                      fill-opacity: 1;
                      stroke-width: 0.640068;
                    "
                  />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </label>
    </div>
    <a href="https://www.fide.com/" target="_blank"
      ><img src="/fide-logo.png" alt="FIDE" id="fidelogo"
    /></a>
  </div>
  <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
  <label for="menu-icon"></label>
  <div class="lista2-hatter"></div>
  <div class="navtarolo">
    <ul class="lista-1">
      <li>CIE</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li>
          <a href="/intro"> Introduction </a>
        </li>
        <li><a href="/commission">Commission</a></li>
        <li><a href="/commissionnews">Commission News</a></li>
        <li><a href="/conferences">Conferences</a></li>
        <li><a href="/initiatives">CIE Initiatives</a></li>
        <li><a href="/personalstories">Personal Stories</a></li>
      </ul>
      <li>Research</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li><a href="/researchnews">Research News</a></li>
        <li class="coming-soon">FIDE Journal of Chess in Education</li>
      </ul>
      <li>
        <a href="/partnerships"> Partnerships </a>
      </li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
      </ul>
      <li>Certification</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li>
          <a href="/certification/fide-schools-application"
            >FIDE Schools Application</a
          >
        </li>
        <li>
          <a href="/certification/fide-schools">FIDE Schools</a>
        </li>
        <li class="coming-soon">CIE Courses</li>
      </ul>
      <li>EDU Courses</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li><a href="/coursenews">Course News</a></li>
        <li>
          Preparation of Teachers
          <ul>
            <li>
              <a href="/pot/titleholders/si">School Instructors</a>
            </li>
            <li>
              <a href="/pot/potinfo">Course Information</a>
            </li>
            <li>
              <a href="/pot/coursebook/password">Coursebook</a>
            </li>
            <li><a href="/testimonials/pot">Course Testimonials</a></li>
          </ul>
        </li>
        <li>
          Preparation of Lecturers
          <ul>
            <li>
              <a href="/pot/titleholders/lsi">Lead School Instructors</a>
            </li>
            <li>
              <a href="/pot/titleholders/sli">Senior Lead Instructors</a>
            </li>
            <li><a href="/pol/polinfo">Course Information</a></li>
            <!-- <li><a href="/testimonials/pol">Course Testimonials</a></li> -->
          </ul>
        </li>
        <li>
          <a href="/course-registration"> Course Registration </a>
        </li>
      </ul>
      <li>Materials</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li>
          Recommended
          <ul>
            <li>
              <a href="/books">Books</a>
            </li>
            <li>
              <a href="/onlinetools">Online Tools</a>
            </li>
            <li><a href="/learn-chess">Learn Chess</a></li>
            <li><a href="/links">Links</a></li>
          </ul>
        </li>
        <li><a href="/download">Download</a></li>
        <li>
          <a href="/sendus">Send Us</a>
        </li>
      </ul>
      <li>News</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li><a href="/fullcalendar?date=today">Calendar</a></li>
        <li><a href="/cienews">CIE News</a></li>
        <li><a href="/blog">Blog</a></li>
        <li>
          <a href="/gallery">Gallery</a>
        </li>
      </ul>
      <li>
        <a href="/search"
          ><img src="/css/searchicon.png" alt="Search" id="kereses"
        /></a>
      </li>
    </ul>
  </div>
</nav>
<div class="newtitle">Chess In Education Commission</div>
<script src="/js/script.js"></script>
<script src="/js/responsive.js"></script>
