<nav id="mainmenu">
  <div class="logo-container">
    <a href="/"><img src="/edulogo.png" alt="CIE" id="logo" /></a>
    <h1>Chess in Education Commission</h1>
    <a href="https://www.fide.com/" target="_blank"
      ><img src="/fide-logo.png" alt="FIDE" id="fidelogo"
    /></a>
  </div>
  <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
  <label for="menu-icon"></label>
  <div class="navtarolo">
    <ul class="lista-1">
      <li>CIE</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li>Introduction</li>
        <li>Commission</li>
        <li>Research</li>
      </ul>
      <li>Partnerships</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li>Universities</li>
        <li>CIE Coalition</li>
        <li>Opening Master</li>
      </ul>
      <li>Certification</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li>Schools</li>
        <li>CIE Programs</li>
        <li>CIE Courses</li>
      </ul>
      <li>EDU Courses</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li>Preparation of Teachers</li>
        <li>PoT Coursebook</li>
        <li>Lead School Instructors</li>
        <li>Course Registration</li>
      </ul>
      <li>Materials</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li>Recommended</li>
        <li>Download</li>
      </ul>
      <li>News</li>
      <ul class="lista-2">
        <img src="/l2b.png" alt="back" class="l2b" />
        <li>CIE News</li>
        <li><a href="/blog">Blog</a></li>
        <li>Media</li>
      </ul>
      <li>
        <a href="/search"
          ><img src="/css/searchicon.png" alt="Search" id="kereses"
        /></a>
      </li>
    </ul>
  </div>
</nav>
