<div class="profile-logout">
  <a href=<% if (typeof currentUser !== "undefined") {if (currentUser.role === "admin") {%> <%= "/admin" %> <% } else { %> <%= "/profil" %> <% }} %>>
    <div class="profile"></div>
    <span class="my-profile">My Profile</span>
  </a>
  <div class="logout">
    <a href="/logout">
      Log <br />
      Out
    </a>
  </div>
</div>
<script src="/js/orszagkodok.js"></script>
<script>
  if (window.innerWidth < 810 || window.screen.width < 810) {
    document.querySelector(".logout a br").remove();
  }
</script>
