<div class="profile-logout">
  <a href="/profile">
    <div class="profile"></div>
    <span class="my-profile">My Profile</span>
  </a>
  <div class="logout">
    <a href="#">
      Log <br />
      Out
    </a>
  </div>
</div>
