<div id="socmed-container">
  <input type="checkbox" name="socmed-btn" id="socmed-btn" />
  <label for="socmed-btn">
    <div id="socmedbar">
      <ul class="socmed-list">
        <li>
          <a
            href="https://www.facebook.com/FIDE.Chess.in.Education.Commission"
            target="_blank"
          >
            <img src="css/fb.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://twitter.com/FIDEschoolChess" target="_blank">
            <img src="css/twitter.png" alt="Twitter" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank"
            ><img src="css/ig.png" alt="Instagram"
          /></a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/@fide-chessineducationcommi9050"
            target="_blank"
            ><img src="css/yt.png" alt="YouTube"
          /></a>
        </li>
      </ul>
    </div>
  </label>
</div>
