<input type="checkbox" name="videop" id="videop" checked="checked" />
<label for="videop">
  <img src="css/closevideo.png" alt="" />
  Playing featured EDU video soon
</label>
<div class="v-container">
  <iframe
    id="random-video-player"
    src=""
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <button class="closevid">
    Close <br />
    video
  </button>
</div>
<script src="/js/videoplay.js"></script>
