<% layout('layouts/boilerplate') %>
<main class="intro">
    <div class="contact-title">
      <h2><%= chosenContact.name %></h2>
    </div>
    <div class="contact-description">
      <div class="contact-wrap">
        <div id="contact-text"></div>
      </div>
    </div>
      <% if (typeof currentUser !== "undefined") {if (currentUser.role ===
  "admin") {%>
      <div id="contact-edit">
      </div>
        
        <div id="editor"></div>
  <div id="contact-save">
    <a><button class="fancytime">Save</button></a>
  </div>
        <% }} %>
   
    
</main>
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="/js/image-resize.min.js"></script>
<script src="/js/contact.js"></script>