<% layout('layouts/boilerplate') %>
<main class="intro">
  <h2>
    This is the general registration form for the Preparation of Teachers course
    to gain the FIDE School Instructor title. Go to Course News, find the course
    you are interested in, and apply via the link provided there.
  </h2>
  <h3>
    <a href="/PoTGeneralRegistrationForm.docx"> Download this form in .docx </a>
  </h3>
  <h3>INFORMATION FOR PARTICIPANTS</h3>
  <p>
    The course is delivered in English, therefore proficient language ability in
    English is required to attend the course. Participants must be able to
    follow instructions, take part in online activities and write in good
    English. Participants whose knowledge of the course language is deemed
    insufficient by the lecturers will be asked to leave and their course fee
    will NOT be returned. The course is delivered online, and working knowledge
    of Zoom and a stable internet connection with high bandwidth is essential.
    Microphones and cameras should be tested before joining the activities. The
    use of a computer or a tablet is required, but mobile phones are not
    suitable.
  </p>
  <h3>PERSONAL DATA</h3>
  <ul>
    <li>SURNAME</li>
    <li>Name (first/personal)</li>
    <li>Name (middle)</li>
    <li>Gender</li>
    <li>Birth (yyyy.mm.dd)</li>
    <li>Nationality (nationalities)</li>
    <li>Residential Address</li>
    <li>E-mail</li>
    <li>Repeat E-mail</li>
  </ul>
  <h3>CHESS DATA</h3>
  <ul>
    <li>FIDE-ID</li>
    <li>Federation</li>
    <li>Rating (if any)</li>
    <li>Chess title (if any)</li>
  </ul>
  <h3>TEACHING INFORMATION</h3>
  <ul>
    <li>Profession</li>
    <li>Number of years in teaching profession (if any)</li>
    <li>Fields of teaching</li>
    <li>Chess teaching experience (if any)</li>
  </ul>
  <h3>QUALIFICATION REQUIREMENT</h3>
  <p>
    Participants are required to attend the entire duration of the online course
    to write the exam. A minimum of 65% must be obtained in the exam to qualify
    for the School Instructor title.
  </p>
  <h3>CONFIDENTIALITY</h3>
  <p>
    Before commencement of the course, you will be expected to undertake an
    agreement with FIDE, in which FIDE will be recognized as the sole owner of
    the intellectual property rights utilized used during the delivery of the
    course. The intellectual property mentioned will not be divulged and/or the
    content used for any other purposes that it is intended to by this course.
  </p>
  <p>Signature _________________________________ Date ______________</p>
  <p>Return to edu.courses@fide.com</p>
  <h3>PAYMENT DETAILS</h3>
  <p>The course fee is €100 and the Title award fee is €50.</p>
  <p>
    There are four ways you may pay the fees. Your fees (except case 1) MUST be
    received by FIDE before the course starts. Allow time for FIDE accounts to
    inform EDU that your fees have been paid.
  </p>
  <p>
    1. Your federation may pay them (fees will be added to their next invoice
    from FIDE). To choose this option, have an official letter from an
    authorized official of your federation, and send official confirmation to
    accounts@fide.com & edu.courses@fide.com
  </p>
  <p>
    2. Bank transfer CaixaBank S.A Av. Diagonal, 621-629 08028 - Barcelona swift
    CAIXESBBXXX Account Name: Federation Internationale Des Echecs euro ES32
    2100 0555 31 0700285124
  </p>
  <h3>
    Important : You must write your name and 'PoT course fee' or 'PoT-SI title
    fee' or 'PoT course & SI title fee' as appropriate.
  </h3>
  <p>
    3. Paypal Transfer Enter the email address payment@fide.com in the payment
    field. important : You must write your name and 'PoT course fee' or PoT-SI
    title fee' or 'PoT course & SI title fee' as appropriate.
  </p>
  <p>
    4. Payment by Credit Card Write to accounts@fide.com saying you wish to
    select this option, quoting your name and 'PoT course fee' or 'PoT-SI title
    fee' or 'PoT course & SI title fee' as appropriate. FIDE accounts will send
    you a link that leads to the system that pays your individual invoice.
  </p>
</main>
