<% layout('layouts/boilerplate') %>
<main class="download">
  <p>Download</p>
  <p>Please choose a cateogry from which you wish to download our materials.</p>
  <div class="categories">
    <span class="background"></span>
    <input type="radio" name="category" id="brochure" value="brochures" /><label
      for="brochure"
      >EDU Brochures</label
    >
    <input type="radio" name="category" id="textbook" value="textbooks" /><label
      for="textbook"
      >Textbooks</label
    >
    <input type="radio" name="category" id="ciebook" value="ciebooks" /><label
      for="ciebook"
      >CIE Books</label
    >
    <input type="radio" name="category" id="other" value="other" /><label
      for="other"
      >Other Material</label
    >
  </div>
  <table class="materials" data-d="<%= downloadMaterials %>">
    <thead>
      <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Language</th>
      </tr>
    </thead>
  </table>
</main>
<script src="/js/download.js"></script>
