<% layout('layouts/boilerplate') %>
<main class="error">
  <img src="/css/error.png" alt="404" />
  <div class="show-error">
    <h2><%= err.message %></h2>
    <% if (process.env.NODE_ENV !== "production") {%>
    <p><%= err.stack %></p>
    <% } %>
  </div>
</main>
