<% layout('layouts/boilerplate') %>
<head>
  <head>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.min.js"></script>
    <link
      href="https://unpkg.com/survey-jquery/defaultV2.min.css"
      type="text/css"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://unpkg.com/survey-jquery/survey.jquery.min.js"
    ></script>
    <script src="/js/virtual-select.min.js" defer></script>
    <script src="/js/fide-schools-survey.js" defer></script>
    <script src="/js/fide-schools.js" defer></script>
  </head>
</head>
<main class="fide-schools-main">
  <div class="fide-schools-wrapper">
    <div class="fide-schools-top">
      <h2 class="fide-schools-title">FIDE Chess School Award</h2>
      <div id="language-select"></div>
    </div>
    <div id="form"></div>
  </div>
</main>
