<% layout('layouts/boilerplate') %>
<div class="calendar-head">
  <div class="calendar-nav">
    <button id="prev-btn">🡨</button>
    <button id="today-btn">Today</button>
    <button id="next-btn">🡪</button>
  </div>
  <div id="month"></div>
</div>
<div id="calendar"></div>
<script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
<script src="/js/calendar-full-page.js"></script>
