<% layout('layouts/boilerplate') %>
<main>
  <div class="main-flex">
    <div class="left-side">
      <div class="calendar-list-container">
        <a href="/fullcalendar" class="calendar-anchor">
          <p>Upcoming Events</p>
          <ul class="calendar-ul"></ul>
        </a>
      </div>
      <div id="featured"><%- include('partials/featured') %></div>
    </div>
    <%- include('partials/map') %>
    <div class="right-side">
      <div class="search-container">
        <div class="searchbar">
          <input placeholder="Search..." type="text" />
          <div class="search-symbol">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="12"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-x hidden"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </div>
        </div>
        <ul class="search-countries"></ul>
      </div>
      <div class="country-menu-container">
        <p class="country-name">United States of America</p>
        <ul class="country-menu">
          <li>
            <a
              href="/contact?country=United States of America"
              id="country-contact"
              >Contact</a
            >
          </li>
          <li>
            FIDE title holders
            <ul>
              <li>
                <a href="/titleholders/si?country=United States of America">
                  School Instructors
                </a>
              </li>
              <li>
                <a href="/titleholders/lsi?country=United States of America"
                  >Lead School Instructors</a
                >
              </li>
              <li><a href=""> Senior Lead Instructors </a></li>
            </ul>
          </li>
          <li>
            Chess in Education
            <ul>
              <li>News</li>
              <li>
                <a
                  href="/gallery?country=United States of America"
                  id="country-gallery"
                >
                  Gallery
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <footer>
    <a href="https://www.fide.com/privacy" target="_blank"
      >Read our Privacy Policy</a
    ><br />
    Contact: <a href="mailto:education@fide.com">education[at]fide.com</a>
  </footer>
</main>
<script src="/js/orszagkodok.js"></script>
<script src="/js/svg-pan-zoom.js"></script>
<script src="https://unpkg.com/panzoom@9.2.4/dist/panzoom.min.js"></script>
<script src="/js/map.js"></script>
<script src="/js/calendar.js"></script>
