<% layout('layouts/boilerplate') %>
<main>
  <div class="main-flex">
    <div class="left-side">
      <div class="calendar-list-container">
        <a href="/fullcalendar" class="calendar-anchor">
          <p>Upcoming Events</p>
          <ul class="calendar-ul"></ul>
        </a>
      </div>
      <% if (featuredPost) {%>
      <div id="featured"><%- include('partials/featured') %></div>
      <% } %>
    </div>
    <div class="map-container">
      <%- include('partials/map') %>
      <div class="map-info">
        <span
          >Select your country of interest to see country-specific CIE
          information.</span
        >
      </div>
    </div>
    <div class="right-side">
      <div class="search-container">
        <div class="searchbar">
          <input placeholder="Search..." type="text" />
          <div class="search-symbol">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="12"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-x hidden"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </div>
        </div>
        <ul class="search-countries"></ul>
      </div>
      <div class="country-menu-container">
        <p class="country-name">Brazil</p>
        <ul class="country-menu">
          <li>
            <a href="/contact?country=Brazil" id="country-contact">Contact</a>
          </li>
          <li>
            FIDE title holders
            <ul>
              <li>
                <a href="/pot/titleholders/si?country=Brazil">
                  School Instructors
                </a>
              </li>
              <li>
                <a href="/pot/titleholders/lsi?country=Brazil"
                  >Lead School Instructors</a
                >
              </li>
              <li>
                <a href="/pot/titleholders/sli?country=Brazil"
                  >Senior Lead Instructors
                </a>
              </li>
            </ul>
          </li>
          <li>
            Chess in Education
            <ul>
              <li><a href="/posts?country=BR" id="country-news">News</a></li>
              <li>
                <a href="/gallery?country=Brazil" id="country-gallery">
                  Gallery
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <footer>
    <div>
      Contact: <a href="mailto:education@fide.com">education[at]fide.com</a>
    </div>
    <div>
      <a href="https://eduarchive.fide.com/" target="_blank"
        >FIDE EDU Archive</a
      >
    </div>
    <div>
      <a href="https://www.fide.com/privacy" target="_blank">Privacy Policy</a>
    </div>
    <div><a href="/cookies">Cookie Policy</a></div>
  </footer>
</main>
<script src="/js/orszagkodok.js"></script>
<script src="/js/svg-pan-zoom.js"></script>
<script src="https://unpkg.com/panzoom@9.2.4/dist/panzoom.min.js"></script>
<script src="/js/map.js"></script>
<script src="/js/calendar.js"></script>
