<% layout('layouts/boilerplate') %>
<!-- <%- include('partials/videoplay') %> -->
<%- include('partials/socmed') %>

<main>
  <div id="featured">
    <%- include('partials/featured') %>
  </div>
  <div id="map-search-container">
    <div id="search-and-calendar">
      <div id="calendar-container">
        <a href="/fullcalendar" class="calendar-list-container">
          <p>Upcoming Events</p>
          <ul class="calendar-list-view"></ul>
        </a>
      </div>
      <div class="search-container">
        <div class="searchbar">
          <input placeholder="Search..." type="text" />
          <div class="search-symbol">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="12"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-x hidden"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </div>
        </div>
        <ul class="search-countries"></ul>
      </div>
    </div>
    <div id="container">
      <div class="text-box-container">
        <div class="countryname-container">
          <input
            type="checkbox"
            name="country-name"
            id="country-name"
            checked
          />
          <label for="country-name"> United States of America </label>
        </div>
        <div class="text-box">
          <ul class="country-menu">
            <li>
              Chess Federation Contact
              <ul id="country-contacts">
                <li>https://new.uschess.org/</li>
                <li>Sophia Rhode</li>
                <li>littlehouseofchess[at]gmail.com</li>
              </ul>
            </li>
            <li>
              FIDE title holders
              <ul>
                <li>
                  <a href="/titleholders/si?country=United States of America">
                    SI title holders
                  </a>
                </li>
                <li>
                  <a href="/titleholders/lsi?country=United States of America"
                    >LSI title holders</a
                  >
                </li>
              </ul>
            </li>
            <li>
              Chess life
              <ul>
                <li>News</li>
                <li>
                  <a href="/gallery"> Gallery </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <%- include('partials/map') %>
  </div>
    </div>
  </div>
  <footer>
    <a href="https://www.fide.com/privacy" target="_blank"
      >Read our Privacy Policy</a
    ><br />
    Contact: <a href="mailto:education@fide.com">education[at]fide.com</a>
  </footer>
</main>
<script src="/js/orszagkodok.js"></script>
<script src="/js/svg-pan-zoom.js"></script>
<script src="https://unpkg.com/panzoom@9.2.4/dist/panzoom.min.js"></script>
<script src="/js/map.js"></script>
<script src="/js/formobile.js"></script>
<script src="/js/calendar.js"></script>