<% layout('layouts/boilerplate') %>
<main class="intro">
  <h2>Introduction</h2>
  <p>
    The focus of FIDE's Chess in Education Commission is to expand the global
    outreach for chess in education. Since children enjoy learning through play,
    chess is a powerful educational tool for the development of intellectual and
    21st-century skills.
  </p>
  <p>
    Chess can be implemented as a stand-alone subject or integrated into other
    subjects in the form of exercises, investigations, and chess-related
    activities. Game-based education engages students and improves the quality
    of the learning experience. Motivated students thus gain skills for success
    in and beyond the classroom.
  </p>
  <h3>FIDE EDU Objectives - 2023 - 2026</h3>
  <ul>
    <li>Position FIDE as the Global Leader in Chess in Education</li>
    <li>
      Double the number of teachers delivering chess-related instruction (from
      92,500 to 200,000)
    </li>
    <li>
      Double the number of students involved in scholastic chess (from 25 to 50
      million)
    </li>
    <li>
      Increase the number of participants in FIDE EDU courses (teachers and
      lecturers) by 20% each year
    </li>
  </ul>
  <h3>FIDE EDU General Strategies</h3>
  <ul>
    <li>Access Key Stakeholders</li>
    <li>Build the CIE Community</li>
    <li>Provide Training & Resources</li>
    <li>Encourage & Enable CIE-related Research</li>
    <li>Increase Quality Professional Development Opportunities</li>
    <li>Assist Federations & Organizations to Expand CIE</li>
  </ul>
</main>
