<% layout('layouts/boilerplate') %>
<main class="intro">
  <div>
    <iframe
      allowfullscreen="allowfullscreen"
      src="https://designrr.page?id=299931&token=2492681357&type=FP&h=4010"
      height="480"
      width="85%"
      frameborder="0"
      id="brochure-flipbook"
    ></iframe>
    <div>
      <label for="theme-input" class="theme-switch">
        <input
          type="checkbox"
          class="theme-input"
          name="theme-input"
          id="theme-input"
        />
        <span class="slider"></span>
      </label>
      <h2>CIE Brochure</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolor,
        provident odit quod ratione quam eos. Laborum fugiat vel velit
        consequatur doloribus ratione, et quasi sit perspiciatis earum totam
        dolore. Ad omnis non eveniet nulla officia fugit officiis, fuga
        possimus, doloribus ratione culpa consequuntur debitis esse iure
        accusantium. Maiores doloribus esse sint tempora quia minima placeat. Ut
        minima ipsum hic? Praesentium quo minima earum cupiditate neque placeat,
        delectus itaque quasi tempore aliquid maiores ducimus reiciendis beatae
        culpa fugiat ad officia quidem impedit! Quasi, ea? Voluptas accusantium
        blanditiis culpa quod dolore.
      </p>
    </div>
  </div>
</main>
<script src="/js/intro.js"></script>
