<% layout('layouts/boilerplate') %>
<main class="intro">
  <h3>
    <a href="https://eys.fide.com/en/index.php" target="_blank"
      >Early Years Skills</a
    >
  </h3>
  <p>
    Early Years Skills is brought to you by FIDE in association with Alfiere
    Bianco and CASTLE. The CASTLE project, created by Alfiere Bianco sports
    company, came into being with the aim of making children the central figures
    in developmental game playing, progressively developing their sensory-motor
    capacity by requiring the use of active intelligence during game activities.
    These highly beneficial lessons take place in an exclusive and protected
    space: the GIANT chessboard. Experience shows that this becomes a magical
    experience for kids - a bridge between reality and imagination. Carefully
    structured game activities heighten childrens self-esteem as well as
    providing a unique opportunity to build relationships with companions based
    on loyalty, responsibility and partnership.
  </p>
  <h3>
    <a
      href="https://chesslegends.ai/en/?utm_source=partner&utm_mediu=article&utm_campaign=edu_fide&utm_content=about_company_july"
      target="_blank"
    >
      Chess Legends
    </a>
  </h3>
  <p>
    Chess Legends is an innovative App designed to teach children aged 6-12 the
    art of chess in a fun and engaging way. Whether the children are beginners
    or already familiar with the game, Chess Legends offers a comprehensive
    learning experience that nurtures their strategic thinking and
    problem-solving abilities.
  </p>
  <img src="/css/chess-leg.jpeg" alt="Chess Legends" />
  <ul>
    <li>
      Video lessons from world champions and leading grandmasters. Gain insights
      from the greatest minds in chess with exclusive video lessons delivered by
      world champions and leading grandmasters.
    </li>
    <li>
      Methodology from professional players and coaches of national teams.
      Benefit from the proven methodologies of professional players and national
      team coaches, guiding your child towards success and helping them develop
      a winning mindset.
    </li>
    <li>
      Personal training plan for players of any level. The app analyzes your
      child's progress and adjusts the program to cater to their individual
      needs.
    </li>
    <li>
      Educational 3D animation for kids. Engage young learners with captivating
      3D animations that make chess lessons come to life, fostering a love for
      the game and making learning an exciting adventure.
    </li>
    <li>
      Daily tasks and bonuses. Daily challenges will help your child stay
      motivated and enhance their skills by adding elements of fun to the chess
      journey.
    </li>
    <li>
      No Ads. Allow your child to enjoy uninterrupted learning and gameplay with
      an ad-free experience, enabling them to fully immerse themselves in the
      world of chess without distractions.
    </li>
  </ul>
  <p>
    Download the app from
    <a
      href="https://play.google.com/store/apps/details?id=ai.chesslegends&hl=en_US?utm_source%3Dpartner&utm_mediu=article&utm_campaign=edu_fide&utm_content=about_company_july&pli=1"
      target="_blank"
      >Google Play</a
    >
  </p>
  <p>
    Download the app from the
    <a
      href="https://apps.apple.com/ru/app/chess-legends/id1624712486?l=en-GB?utm_source=partner&utm_mediu=article&utm_campaign=edu_fide&utm_content=about_company_july"
      >Apple Store</a
    >
  </p>
  <h3>Caissa</h3>
  <p>
    Imagine a classroom where students not only learn but also embark on an
    exciting intellectual journey. In this classroom, young minds become skilled
    strategists, making crucial decisions and anticipating their opponents’
    moves. Chess becomes the vehicle for learning that stimulates critical
    thinking, improves problem-solving, and fosters creativity in every student.
    But this is just the beginning because in this classroom, chess can also be
    the gateway to the exciting world of STEM (Science, Technology, Engineering,
    and Mathematics). Welcome to the classroom of the future, where chess merges
    with educational innovation to create a learning environment like no other!
  </p>
  <p>
    Caissa, a digital platform developed by ChessForEdu, is the engine driving
    this educational revolution and introducing chess into the educational
    sphere. Led by Pep Suárez, Francisco Otero, and Irene Oubiña, and from a
    multidisciplinary perspective, Caissa lands in various autonomous
    communities of Spain, such as the Balearic Islands and the Community of
    Madrid, and is implemented in their primary and secondary education centers.
    It has also found success in projects outside of Spain, the most recent
    being in Panama.
  </p>
  <p>
    This tool simplifies student management processes for teachers and offers a
    controlled, multilingual e-learning environment accessible from anywhere. It
    adapts to various educational institutions, whether or not they are
    connected to chess. ChessForEdu accommodates the preferences of each
    organization, integrating Caissa into their own web domain or creating a
    customized portal if they do not have their own domain, thus catering to
    their exact needs.
  </p>
  <img src="/css/ChessForEdu2.jpeg" alt="Caissa platform" />
  <p>
    Teachers can relate or link educational curricular content with chess
    resources. Caissa offers an innovative approach, essential in today’s
    education, and provides an enriching educational experience that goes beyond
    mathematical concepts and symmetry, also encompassing language, history, and
    culture, among others. It helps promote skills and values associated with
    students’ formative processes. In this way, chess becomes a valuable
    companion for the teacher’s work and enhances the quality of the
    teaching-learning process.
  </p>
  <p>
    Caissa includes 64 mini-games, one for each square on the chessboard,
    designed to enhance cognitive skills in students. These games are easy to
    learn and increase in difficulty, helping beginners develop strategies and
    plans. Chess evolves in Caissa with different board designs and creative
    scenarios, such as a grassy path the knight must traverse to achieve
    victory, frogs, foxes, and hounds. These elements, along with challenges
    like remembering and arranging coloured pieces placed in the path of the
    bishops after seeing them only once, transform the game into a completely
    renewed experience that goes beyond the traditional game of kings.
  </p>
  <p>
    ChessForEdu obtains valuable feedback that helps identify key student
    skills, such as concentration, motivation, sociability, and logic, with the
    aim of improving them. Thus, chess becomes not only a game but also a
    powerful educational tool and the perfect companion for the teacher’s work,
    promoting active, participatory, and constructive teaching. Visit
    <a href="www.chessforedu.com" target="_blank">www.chessforedu.com </a>
    to find out more.
  </p>
</main>
