<% layout('layouts/boilerplate') %>
<main class="sendus">
  <h2>We are curious about your world of Chess in Education!</h2>
  <p>
    Please send us your stories, pictures, and short videos for publication on
    our website. We are looking for good quality images (under 2 megabytes
    each). Describe what is happening on the image or video so that viewers can
    put in the educational context. Do NOT include names of minors (under
    18-year-old) in your description.
  </p>
  <p>
    <img src="/css/sendus.png" alt="Your World of Chess in Education" />
  </p>
  <p>
    Remember to obtain written permission from people (parents or guardians in
    case of minors) who appear in the pictures or videos and can be recognised
    there. Here is a <a href="/ConsentForm.docx">Consent Form</a> you can use
    for this purpose. Please include a completed Consent Form for each picture
    or video that you submit.
  </p>
  <p>Use this link to send us your CIE materials:</p>
  <iframe
    src="https://pigeonfiles.com/u/n16xb0xjkerm83a_ty46t5"
    width="100%"
    height="790px"
    frameBorder="0"
    style="border: 0"
  ></iframe>
</main>
<script>
  document.querySelector("iframe").classList.add("pigeonframe");
</script>
