<% layout('layouts/boilerplate') %>
<main class="intro">
  <div class="static-text-body"></div>
  <% if (fileUpload === true) { %>
  <iframe
    src="https://pigeonfiles.com/u/5sqzu64-14yigqhjbvrg69"
    width="100%"
    height="790px"
    frameBorder="0"
    style="border: 0"
  ></iframe>
  <% } %> <% if (typeof currentUser !== "undefined") { if (currentUser.role ===
  "admin") {%>
  <a href="/<%= route %>/edit"> <button class="fancytime">Edit</button></a>
  <%}} %>
</main>
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="/js/image-resize.min.js"></script>
<script src="/js/staticPage.js"></script>
