<% layout('layouts/boilerplate') %>
<main>
  <section class="titleholders-flex">
    <div class="titleholders-select">
      <% if (type === 'lsi') { %>
      <label for="lsititleholders">LSI Title Holders</label>
      <select name="lsititleholders" id="lsititleholders" size="18"></select>
      <% } else if (type === 'si') { %>
      <label for="sititleholders">SI Title Holders</label>
      <select name="sititleholders" id="sititleholders" size="18"></select>
      <% } %>
    </div>
    <div>
      <div class="titleholders-filters">
        <p>Filter Titleholders By:</p>
        <ul>
          <li>
            Country:
            <div id="country-filter"></div>
          </li>
          <li>
            Year Of Award:
            <div id="year-filter"></div>
          </li>
        </ul>
      </div>
      <div class="chosen-titleholder">
        <p>Selected Titleholder:</p>
        <ul>
          <li>
            First Name:
            <span></span>
          </li>
          <li>
            Last Name:
            <span></span>
          </li>
          <li>
            Country:
            <span></span>
          </li>
          <li>FIDE ID: <span></span></li>
          <li>Year Of Award:<span></span></li>
        </ul>
      </div>
    </div>
  </section>
</main>
<script src="/js/orszagkodok.js"></script>
<script src="/js/virtual-select.min.js"></script>
<script src="/js/titleholders.js"></script>
