main.admin h2 {
  font-size: 22px;
  margin: 10vh 0 20px 0;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

main.admin h3 {
  margin: 0 0 15px 30px;
}

main.admin p {
  padding: 20px 30px;
}

.profiles-container * {
  box-sizing: border-box;
}

.profiles-container {
  width: 98vw;
  margin: 0 1vw;
  box-sizing: border-box;
  border: 3px solid #5b85aa;
}
.profiles-container thead th {
  font-weight: 500;
  padding: 10px;
  border: 2px solid #5b85aa;
}

.profiles-container thead {
  border-bottom: 3px solid #5b85aa;
}

.profiles-container td {
  padding: 10px;
  border: 1px solid #5b85aa;
}
.profiles-container a {
  text-decoration: underline;
}

main.blogs .posts-title .fancytime {
  width: 200px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 30px;
  background-image: linear-gradient(#91b0b2, #91b0b2);
}
main.blogs .posts-title .fancytime:hover {
  border-radius: 10px;
  font-weight: 500;
}

/* FIDE SCHOOLS */

.applicant-base-info {
  margin: auto;
  max-width: 750px;
  width: 100%;
  margin-bottom: 10px;
}

.applicant {
  max-width: 750px;
  margin: auto;
}

.applicant-base-info th {
  vertical-align: middle;
  text-align: left;
  padding: 10px;
  font-weight: 600;
  background-color: rgb(231, 231, 231);
  border: white solid;
  border-width: 1px 0px;
}

.applicant-base-info tr:first-child th {
  border-top: 0px;
}

.applicant-base-info tr:last-child th {
  border-bottom: 0px;
}

.applicant-base-info tr:first-child td {
  border-bottom: 0px;
}

.applicant-base-info tr:last-child td {
  border-bottom: 0px;
}

.applicant-base-info td {
  padding: 10px;
  border: #e7e7e7 solid;
  border-width: 1px 0px;
}

.applicant-header {
  font-weight: bold;
  font-size: large;
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  height: 25px;
  align-items: center;
}

.applicant-header span {
  height: min-content;
}

.applicant-header svg {
  margin-right: 10px;
}

.long-answer {
  margin: 5px 0px;
  text-align: justify;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.applicant-answer {
  color: rgb(66, 66, 66);
}

.long-answer-question {
  font-weight: 600;
  margin: 10px 0px;
}

svg.plussign,
svg.minussign {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  transition: all 150ms linear;
  cursor: pointer;
  font-size: x-large;
}

svg.plussign path:last-of-type,
svg.minussign path:last-of-type {
  fill: black;
  transition: all 150ms linear;
}

svg.plussign:hover,
svg.minussign:hover {
  background-color: black;
}

svg.plussign:hover path:last-of-type,
svg.minussign:hover path:last-of-type {
  fill: white;
}
