.ql-editor strong {
  font-weight: bold;
}
.ql-editor em {
  font-style: italic;
}

.show-blogpost {
  margin-top: 7vh;
}

.show-blogpost h2 {
  height: 100px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
  background-color: #5b85aa;
  text-align: center;
  padding: 30px 0;
  box-sizing: border-box;
}

.show-blogpost p {
  box-sizing: border-box;
  padding: 10px 15%;
  font-size: 18px;
  border-left: 20px solid #91b0b2;
  border-right: 20px solid #91b0b2;
}

.text-body {
  margin-top: 10px;
}

.text-body img {
  margin: 10px;
}

.img-wrapper {
  display: flex;
  justify-content: center;
}

.show-blogpost .fancytime,
#save-edit,
#discard {
  position: fixed;
  width: 180px;
}

.show-blogpost button.fancytime {
  left: 15px;
  bottom: 15px;
}

.show-blogpost a.fancytime,
#save-edit {
  text-align: center;
  line-height: 2;
  right: 25px;
  bottom: 15px;
}

#discard {
  left: 25px;
  bottom: 15px;
}

.edit-main {
  margin-top: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
}

.title-input,
.text-input,
.editor-container,
.title-label {
  box-sizing: border-box;
  display: block;
  width: 70%;
  margin: 10px;
  margin-bottom: 0;
  font-family: "Raleway";
}
.title-input {
  padding: 5px;
}

.editor-container {
  height: 300px;
}

label[for="title"] {
  font-size: 18px;
  text-align: left;
  font-weight: 450;
}

.blogsor {
  width: 70%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0 15%;
  padding: 15px 0;
}

.blogsor .blog-card {
  box-sizing: border-box;
  position: relative;
  height: 300px;
  width: 15%;
  flex-grow: 1;
  padding: 30px;
  margin: 15px;
  background-color: white;
  transition: 0.3s;
  border: none;
}

.blogsor .blog-card:hover {
  flex-grow: 2;
  border-radius: 50px;
}

.blogsor .blog-card:hover img {
  border-radius: 25px;
}

.blogs {
  background-color: #5b85aa;
  transition: 0.3s;
}

.blog-card p {
  font-size: 14px;
  line-height: 1.2;
  word-wrap: break-word;
}

.blog-card img {
  float: right;
  position: inherit;
  width: 50%;
  height: auto;
  transition: 0.3s;
}

.blog-card p + span {
  display: block;
  position: absolute;
  font-style: italic;
  font-size: 14px;
  top: 88%;
}

.posts-title p {
  display: inline-block;
  width: 100%;
  height: max-content;
  font-size: 30px;
  padding: 25px 40px;
  box-sizing: border-box;
  color: white;
}

#chrorder {
  display: inline;
  width: 100px;
  border-radius: 5px;
}

.blog-card h2 {
  font-weight: bold;
  margin: 15px;
  margin-top: 0;
  letter-spacing: 2px;
}

#b-posts {
  display: flex;
  flex-direction: column;
}

.first-prev {
  position: fixed;
  top: 45%;
  left: 30px;
}

.next-last {
  position: fixed;
  top: 45%;
  right: 30px;
}

.first-prev a,
.next-last a {
  width: 100px;
  display: block;
  margin: 15px;
  padding: 12px;
  font-size: 20px;
  background-color: white;
  transition: 0.3s ease-in-out;
}

.first-prev a {
  text-align: right;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

.first-prev a:hover {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 150px;
}

.next-last a {
  text-align: left;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}
.next-last a:hover {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 150px;
}

.next-last a:hover + a {
  margin-left: 65px;
}

.page-counter {
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-left: 50%;
}
