.ql-editor strong {
  font-weight: bold;
}
.ql-editor em {
  font-style: italic;
}

main.blogs a {
  transition: 0.3s;
}
main.blogs a:hover {
  letter-spacing: 3px;
}

h2.title {
  height: 100px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
  background-color: #5b85aa;
  text-align: center;
  padding: 30px 0;
  box-sizing: border-box;
}

.show-blogpost p,
.show-blogpost ul,
.show-blogpost ol {
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1.1;
  word-wrap: break-word;
}

.text-body h1,
.text-body h2,
.text-body h3,
.text-body h4 {
  padding: 0px 20px;
}

.show-blogpost pre {
  box-sizing: border-box;
  padding: 10px 10%;
  border-top: none;
  border-bottom: none;
  margin-top: 0;
  margin-bottom: 0;
}

.show-blogpost ol {
  list-style: decimal;
  padding-left: 70px;
}

.show-blogpost ul {
  list-style: disc;
  padding-left: 70px;
}

.show-blogpost ul li,
.show-blogpost ol li {
  margin: 5px 0;
}

.text-body {
  max-width: 900px;
  margin: auto;
}

.text-body img {
  margin: 10px;
}

.img-wrapper {
  display: flex;
  justify-content: center;
}

.img-wrapper img {
  max-width: 90%;
  height: auto;
}

.show-blogpost .fancytime,
#save-edit,
#discard {
  position: fixed;
  width: 180px;
}

.show-blogpost button.fancytime {
  left: 15px;
  bottom: 15px;
}

.show-blogpost a.fancytime,
#save-edit {
  text-align: center;
  line-height: 2;
  right: 25px;
  bottom: 15px;
}

#discard {
  left: 25px;
  bottom: 15px;
}

.edit-main {
  margin-top: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
}

.title-input,
.text-input,
.editor-container,
.title-label {
  box-sizing: border-box;
  display: block;
  width: 70%;
  margin: 10px;
  margin-bottom: 0;
  font-family: "Raleway";
}
.title-input {
  padding: 5px;
}

.editor-container {
  height: 300px;
}

label[for="title"] {
  font-size: 18px;
  text-align: left;
  font-weight: 450;
}

/* BLOG POSTS.EJS */

#b-posts {
  display: flex;
  width: 100vw;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.blogsor {
  width: 80%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0;
  padding: 15px 0;
}

.blogsor .blog-card {
  box-sizing: border-box;
  position: relative;
  height: 300px;
  width: 15%;
  flex-grow: 1;
  padding: 30px;
  margin: 15px;
  background-color: white;
  transition: 0.3s;
  border: none;
}

.blogsor .blog-card:hover {
  flex-grow: 1.5;
  border-radius: 50px;
}

.blogsor .blog-card:hover img {
  border-radius: 25px;
}

.blogs {
  background-color: #5b85aa;
  transition: 0.3s;
}

.blog-card p {
  font-size: 14px;
  line-height: 1.2;
  word-wrap: break-word;
  overflow: hidden;
  height: 115px;
}

.blog-card .tagnames {
  position: absolute;
  display: none;
  top: 0;
  left: 50px;
  transform: translateY(-100%);
  width: calc(100% - 100px);
  overflow-y: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 14px;
  height: 30px;
  background-color: #91b0b2;
  color: white;
  font-weight: 500;
  padding: 8px;
  box-sizing: border-box;
  font-style: italic;
}
.blog-card:hover .tagnames {
  display: block;
  letter-spacing: normal !important;
}

.blog-card img {
  float: right;
  position: inherit;
  width: 40%;
  margin: 5px;
  height: auto;
  transition: 0.3s;
}
.blogsor:last-of-type .blog-card img {
  width: 15%;
}
.blogsor:first-of-type:hover .tagnames,
.blogsor:nth-of-type(2):hover .tagnames {
  display: none;
}
.blogsor:first-of-type .blog-card img:hover,
.blogsor:nth-of-type(2) .blog-card img:hover {
  border-radius: 0%;
}
.blogsor:first-of-type .blog-card span,
.blogsor:nth-of-type(2) .blog-card span {
  display: none;
}
.blogsor:first-of-type .blog-card:hover {
  flex-grow: 1.2;
  border-radius: 0%;
}
.blogsor:nth-of-type(2) .blog-card:hover {
  border-radius: 0%;
}
.blogsor:nth-of-type(2) .blog-card:hover img {
  border-radius: 0%;
}

.blogsor:first-of-type {
  padding-top: 0;
}

.blogsor:first-of-type .blog-card {
  height: 380px;
  width: 45%;
  flex-grow: 0;
}

.blogsor:first-of-type .blog-card p,
.blogsor:nth-of-type(2) .blog-card p {
  display: none;
  width: 0;
}
.blogsor:first-of-type .blog-card .img-container,
.blogsor:nth-of-type(2) .blog-card .img-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.blogsor:first-of-type .blog-card img {
  width: 100%;
  margin: 0;
  object-fit: cover;
  height: 100%;
}
.blogsor:nth-of-type(2) .blog-card img {
  width: 100%;
  margin: 0;
  object-fit: cover;
  height: 100%;
}

.blogsor:first-of-type h2,
.blogsor:nth-of-type(2) .blog-card h2 {
  position: absolute;
  bottom: -15px;
  left: -15px;
  width: 100%;
  padding: 20px 5%;
  box-sizing: border-box;
  font-size: 22px;
  color: white;
  background-color: #91b0b2;
  z-index: 10;
}
.blogsor:nth-of-type(2) .blog-card h2 {
  font-size: 17px;
  padding: 15px 3%;
}

.blog-card p + span {
  display: block;
  box-sizing: border-box;
  position: absolute;
  font-style: italic;
  font-size: 14px;
  top: 88%;
  background-color: white;
}

.posts-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.posts-title p {
  text-align: center;
  display: inline-block;
  height: max-content;
  font-size: 30px;
  padding: 10px 0px 20px 0px;
  box-sizing: border-box;
  color: white;
}

.blog-card h2 {
  font-weight: 500;
  margin: 15px;
  margin-top: 0;
  letter-spacing: 2px;
}

.first-prev {
  position: fixed;
  bottom: 0;
  left: 0;
}

.next-last {
  position: fixed;
  bottom: 0;
  right: 0;
}

.first-prev a,
.next-last a {
  width: 160px;
  box-sizing: border-box;
  padding: 10px;
  display: block;
  font-size: 20px;
  background-color: #5b85aa;
  transition: 0.3s ease-in-out;
}

.gallery-page .first-prev a,
.gallery-page .next-last a {
  color: white;
}

.first-prev a {
  text-align: right;
}

.next-last a {
  text-align: left;
}

.first-prev a:first-of-type {
  border-top-right-radius: 10px;
}
.next-last a:first-of-type {
  border-top-left-radius: 10px;
}

#load-more {
  background-image: linear-gradient(#91b0b2, #91b0b2);
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px;
}
#load-more:hover {
  border-radius: 3px;
}

.text-body a {
  text-decoration: underline;
  color: #699ac4;
}

.text {
  border-left: 20px solid #91b0b2;
  border-right: 20px solid #91b0b2;
}
