#calendar-container {
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
}

#calendar-container p {
  font-size: 18px;
  font-weight: 500;
}

.calendar-list-view li {
  margin: 5px;
}

.calendar-list-view li div:first-of-type {
  font-style: italic;
}
.calendar-list-view li div::first-letter {
  text-transform: capitalize;
}
.calendar-list-view li div:last-of-type {
  padding: 3px;
  font-size: 17px;
}

.calendar-list-container {
  position: relative;
}

.calendar-list-view:hover {
  cursor: pointer;
}

/* Full calendar view */

#calendar {
  width: 40%;
  height: 600px;
  padding: 2px 0;
  margin: 25px 30%;
}

button.toastui-calendar-edit-button,
button.toastui-calendar-delete-button,
div.toastui-calendar-popup-section.toastui-calendar-section-button {
  display: none;
}

div.toastui-calendar-see-more {
  height: 150px;
}

.calendar-head {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}

.calendar-nav button {
  cursor: pointer;
  background: none;
  padding: 6px 10px;
  border: 1px grey solid;
}

.toastui-calendar-template-popupDetailDate,
.toastui-calendar-template-popupDetailBody,
.toastui-calendar-detail-item {
  color: rgb(85, 85, 85);
  font-weight: normal;
}

#month {
  height: fit-content;
}
/* 
.toastui-calendar-template-allday,
.toastui-calendar-weekday-event {
  height: 10px;
} */

.toastui-calendar-template-monthDayName {
  font-size: 18px;
  font-weight: 500;
}
