.calendar-list-container {
  padding: 10px;
  margin-top: 8px;
  margin-left: 10px;
  /* box-shadow: 0 0 10px 3px rgb(206, 206, 206); */
  border-radius: 10px;
  height: calc(50% - 15px);
  width: 260px;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
  background-color: white;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.calendar-list-container::-webkit-scrollbar {
  display: none;
}

.calendar-list-container p {
  font-size: 18px;
  font-weight: 500;
}

.calendar-ul li {
  margin: 5px 5px 5px 0;
  border-left: 4px solid rgb(91, 133, 170);
  padding-left: 5px;
}

.calendar-ul li:first-of-type {
  border-left: 4px solid #b03752;
}

.calendar-ul li div:first-of-type {
  font-style: italic;
}
.calendar-ul li div::first-letter {
  text-transform: capitalize;
}
.calendar-ul li div:last-of-type {
  padding: 3px;
  font-size: 17px;
}
.calendar-ul li:last-of-type {
  border-left: none;
  text-decoration: underline;
}

.calendar-ul:hover {
  cursor: pointer;
}

/* Full calendar view */

#calendar {
  width: 40%;
  height: 600px;
  padding: 2px 0;
  margin: 25px 30%;
}

button.toastui-calendar-edit-button,
button.toastui-calendar-delete-button,
div.toastui-calendar-popup-section.toastui-calendar-section-button {
  display: none;
}
.toastui-calendar-detail-container * {
  word-break: break-word;
}

div.toastui-calendar-see-more {
  height: 150px;
}

.calendar-head {
  display: block;
  width: 40%;
  margin: 10px 30%;
  margin-bottom: 0;
  margin-top: 8vh;
}

.calendar-nav {
  display: flex;
  justify-content: space-between;
}

.calendar-nav button {
  cursor: pointer;
  background: none;
  padding: 6px 10px;
  background-color: #5b85aa;
  color: black;
  font-weight: 600;
  border-radius: 10px;
}
.calendar-nav button:nth-of-type(2) {
  background-color: #c5725f;
}

.toastui-calendar-grid-cell-date
  .toastui-calendar-weekday-grid-date.toastui-calendar-weekday-grid-date-decorator {
  background-color: #c5725f !important;
  border-width: 2px !important;
  border-style: outset !important;
  border-color: buttonborder !important;
  border-image: initial !important;
}

#month {
  margin-top: 10px;
  text-align: center;
}

.toastui-calendar-template-popupDetailDate,
.toastui-calendar-template-popupDetailBody,
.toastui-calendar-detail-item {
  color: rgb(85, 85, 85);
  font-weight: normal;
}

.toastui-calendar-template-monthDayName {
  font-size: 18px;
  font-weight: 500;
}

.toastui-calendar-weekday-event {
  margin-top: 3px;
}

.toastui-calendar-ic-user-b {
  background: none !important;
}

.toastui-calendar-ic-user-b svg {
  text-indent: 0 !important;
  margin-left: 19px;
  margin-bottom: 11px;
  transform: translateY(-2px);
}

div:has(> span.toastui-calendar-ic-state-b) {
  display: none;
}

.toastui-calendar-detail-item {
  margin: 10px 0px;
}

.toastui-calendar-content {
  line-height: 1.5 !important;
}

.toastui-calendar-content a {
  text-decoration: underline;
  text-underline-offset: 2px;
}
