main.intro,
main.sendus,
main.commission,
main.partnerships {
  margin-top: 7vh;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10%;
  border-left: 50px solid #5b85aa;
  border-right: 50px solid #5b85aa;
}

main.intro h2,
main.sendus h2,
main.commission h2,
main.partnerships h2 {
  font-size: 22px;
  font-weight: 500;
}
main.intro h3 {
  font-weight: 500;
  font-size: 18px;
  margin: 20px 0;
}

main.intro p,
main.sendus p,
main.intro ul li {
  margin: 10px;
  line-height: 1.2;
}
main.intro ul {
  margin: 10px 35px;
  list-style: square;
}
.pigeonframe {
  height: 550px !important;
  margin: 0;
  padding: 0;
}
main.sendus p:last-of-type {
  font-weight: 500;
  text-align: center;
}
main.sendus img {
  width: 100%;
}

/* COMISSION */

.memberdiv {
  display: block;
  margin: 10px;
  padding: 15px;
  border: 5px solid #5b85aa;
  border-radius: 10px;
}
.members {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.memberdiv img {
  width: 180px;
  height: auto;
  float: left;
  border-radius: 10px;
  margin-right: 20px;
}

.memberdiv p {
  line-height: 1.2;
  margin: 10px;
}

.memberdiv a:first-of-type {
  font-weight: 500;
  font-size: 20px;
}

.memberdiv a {
  display: block;
  margin: 10px;
}
main.commission {
  padding: 20px 25%;
}

main.partnerships .memberdiv img {
  float: unset;
  width: 100%;
}
.memberdiv h3 {
  font-size: 20px;
  font-weight: 500;
}

main.intro p:last-of-type {
  font-style: italic;
}
main.intro p:nth-of-type(2) {
  font-style: normal;
}

main.intro img:first-of-type {
  float: left;
  height: 40vw;
  width: auto;
}

/* ERROR */

main.error {
  margin-top: 9vh;
}

main.error img {
  width: 30vw;
  float: left;
  margin: 20px;
}

.show-error h2 {
  font-size: 30px;
  color: red;
  font-weight: 500;
}

main.sendus p:nth-last-of-type(2) {
  font-weight: 600;
  font-size: 18px;
}
main.sendus p:nth-last-of-type(2) a {
  text-decoration: underline;
}
