#login-signup {
  width: 0;
  height: 0;
  display: none;
}

#login-signup:not(:checked) ~ label ~ #login-signup-form-container {
  display: none;
}

label[for="login-signup"] {
  position: absolute;
  top: 18.5px;
  right: 0;
  width: 90px;
  height: 63px;
  z-index: 500;
  background-color: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  cursor: pointer;
  transition: 0.5s ease;
}

label[for="login-signup"]:hover {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 180px;
}

label[for="login-signup"] img {
  padding: 0;
  margin: 10px 25.5px;
  margin-right: 5px;
  transition: 0.5s ease;
  width: 39px;
  height: 43px;
}

label[for="login-signup"]:hover img {
  margin-left: 10px;
}

label[for="login-signup"] p {
  margin: 10px 15px;
  width: 75.75px;
  height: 43px;
  overflow: hidden;
  display: none;
  font-size: 20px;
  color: black;
}

label[for="login-signup"]:hover p {
  display: inline;
}

label[for="login-signup"] div {
  display: flex;
}

#login-signup:checked ~ label ~ #login-signup-form-container {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 408;
  background-color: #5b85aa;
  color: black;
  box-sizing: border-box;
  padding: 25vh 0;
  padding-top: 15vh;
  margin: 0;
}

#user-btns {
  display: flex;
  justify-content: space-between;
  width: 460px;
  height: 10vh;
  background-color: #91b0b2;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

#user-btns button {
  font-size: 22px;
  color: black;
  font-weight: 550;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  font-family: "Raleway";
  border: none;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  flex-basis: 30%;
}

#user-btns button:hover {
  flex-grow: 2 !important;
}

#login-form.user-form-active {
  height: 280px;
}
#signup-form.user-form-active {
  height: 490px;
}

.user-form-active {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  padding-top: 30px;
  width: 460px;
  box-sizing: border-box;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.5s ease;
}

.user-form-active label,
.user-form-active input,
#signup-form select,
#signup-form textarea {
  display: block;
  text-align: left;
  font-size: 18px;
  height: 30px;
  box-sizing: border-box;
  width: 50%;
  color: black;
  border-radius: 3px;
  position: relative;
}

.user-form-active input {
  border: 2px solid #5b85aa;
  margin-bottom: 10px;
}

.fancytime {
  font-size: 18px;
  font-family: "Raleway";
  height: 40px;
  width: 20%;
  margin-top: 8px;
  cursor: pointer;
  border: 2px solid #5b85aa;
  transition: 0.5s ease;
  z-index: 10;
  color: black;
  background-image: linear-gradient(#5b85aa, #5b85aa);
  background-size: 0% 100%;
  background-position-y: 44%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in;
  background-color: white;
}

.fancytime:active,
.fancytime:focus,
.fancytime:hover {
  background-size: 100% 100%;
  color: white;
}

.user-form-inactive {
  display: none;
}

#signup-form input,
#signup-form select,
#signup-form textarea {
  width: 45%;
}

.user-form-active input::placeholder {
  font-size: 18px;
  color: #91b0b2;
}

.names {
  display: flex;
  width: 90%;
  margin: 0 2%;
  justify-content: space-around;
  align-items: center;
}

.names:nth-last-of-type(3),
.names:nth-last-of-type(2),
.names:last-of-type {
  justify-content: center;
}

.names:nth-last-of-type(3) label,
.names:nth-last-of-type(2) label,
.names:last-of-type label {
  width: 92%;
  margin-left: 0;
}

.names label a {
  display: inline;
  text-decoration: underline;
}

#signup-form #newsletter,
#signup-form #pripo,
#signup-form #relevant-info {
  width: 5%;
  margin: 0;
  margin-right: 10px;
}

label[for="resp-cie"] {
  height: 44px;
}

#login-signup-forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#resp-cie {
  resize: none;
  font-family: "Railway";
  border-width: 2px;
  border-color: #5b85aa;
  margin-bottom: 10px;
  padding: 0;
  font-size: 20px;
}

#resp-cie:placeholder {
  font-family: "Railway";
  color: black;
}

#resp-cie:focus {
  z-index: 606;
  position: fixed;
  top: 30vh;
  left: 50vw;
  transform: translate(-50%, 0%);
  width: 460px;
  height: 40vh;
  padding: 20px 4vw;
}

/* -----LOGOUT------ */

#login-signup {
  width: 0;
  height: 0;
  display: none;
}

#login-signup:not(:checked) ~ label ~ #login-signup-form-container {
  display: none;
}

label[for="logout"] {
  position: absolute;
  top: 18.5px;
  right: 0;
  width: 90px;
  height: 63px;
  z-index: 500;
  background-color: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  cursor: pointer;
  transition: 0.5s ease;
}

label[for="logout"]:hover {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 180px;
}

label[for="logout"] img {
  padding: 0;
  margin: 10px 25.5px;
  margin-right: 5px;
  transition: 0.5s ease;
  width: 39px;
  height: 43px;
}

label[for="logout"]:hover img {
  margin-left: 10px;
}

label[for="logout"] p {
  margin: 10px 15px;
  width: 75.75px;
  height: 43px;
  overflow: hidden;
  display: none;
  font-size: 20px;
  color: black;
  display: flex;
  align-items: center;
}

label[for="logout"]:hover p {
  display: inline;
  display: flex;
  align-items: center;
}

label[for="logout"] a {
  display: flex;
}

/* -------validation-------- */

input.invalid {
  border-color: red;
}

.visible-password {
  position: relative;
  top: 35px;
  z-index: 602;
  width: 36px;
  height: 18px;
  background-image: url("eye.png");
  display: inline-block;
  color: #5b85aa;
}

.visible-password:hover {
  cursor: pointer;
}

#userspan {
  left: 43%;
}
#newspan {
  left: 32%;
}

.error.password-error,
.error.login-password-error,
.error.name-error {
  position: absolute;
  bottom: -90%;
  right: -128%;
  width: 210px;
}
.error.password-error.active,
.error.login-password-error.active,
.error.name-error.active {
  color: red;
  font-weight: 500;
  font-size: 13px;
  border: 2px solid red;
  background-color: white;
  border-radius: 3px;
  padding: 3px;
  padding-left: 10px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
}

.error.email-error,
.error.login-email-error {
  position: absolute;
  bottom: -102%;
  left: -128%;
  width: 210px;
}
.error.email-error.active,
.error.login-email-error.active {
  color: red;
  font-weight: 500;
  font-size: 13px;
  border: 2px solid red;
  background-color: white;
  border-radius: 3px;
  padding: 3px;
  padding-left: 10px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
}
