/* MAP */

a {
  all: unset;
  cursor: pointer;
}

html {
  overflow-x: hidden;
}

#map path,
#map circle {
  fill: #5b85aa;
  stroke-width: 1px;
  &.selected {
    fill: #c5725f;
    opacity: 1;
  }
}

#map {
  height: 68vh;
}

.svg-pan-zoom_viewport.zoom {
  transition: transform 0.3s;
}

svg circle {
  opacity: 0;
}

#map path:hover {
  fill: #91b0b2;
}

#container {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: row;
  width: 100%;
}
.text-box-container {
  flex: 0 0 240px;
  margin-top: 5px;
  height: 65vh;
}

.hidden {
  visibility: hidden;
  opacity: 0%;
}

.country-menu li {
  color: rgb(82, 82, 82);
  padding: 7px 8px;
  font-weight: bold;
  border: 1px solid rgb(219, 219, 219);
  border-width: 2px 0px;
  margin: -1px 0;
  &:first-of-type {
    border-top: none;
  }
  &:last-of-type {
    border-bottom: none;
  }
}

.country-menu li ul li {
  width: 130px;
  padding: 10px 0px 10px 10px;
  font-weight: normal;
  border: none;
  /* underline */
  background-image: linear-gradient(#5b85aa, #5b85aa);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in;
  &:hover,
  &:focus,
  &:active {
    background-size: 100% 0.1em;
  }
  &:first-of-type {
    padding-top: 20px;
  }
}
.map-container {
  width: 100%;
  height: 100%;
}

#map-box {
  margin-top: 0;
  overflow: hidden;
  height: 95%;
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: start;
}

#country-name {
  cursor: pointer;
  position: relative;
  margin: 0;
  margin-top: 12px;
  margin-left: 15px;
  appearance: unset;
  width: 20px;
  height: 20px;
}

#country-name::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  transition: all ease-in 200ms;
  background-image: url("dropd.png");
}

#country-name:checked::before {
  transform: rotate(90deg);
}

#country-name ~ label {
  cursor: pointer;
  color: #5b85aa;
  transition: all ease-in 200ms;
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
  margin: 15px 5px;
  display: inline-block;
  width: 200px;
  text-align: left;
  height: 25px;
}
.text-box {
  padding: 0 50px;
  background-color: white;
  height: 56vh;
  opacity: 0;
  animation-name: cmenu;
  animation-duration: 0.5s;
}

#country-name:not(:checked) ~ label ~ .text-box {
  opacity: 0;
  height: 0;
}

#country-name:checked ~ label ~ .text-box {
  opacity: 1;
  height: 56vh;
}

@keyframes cmenu {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 65vh;
    opacity: 1;
  }
}

#hover-text {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

#hover-text span {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: rgb(206, 206, 206) b9;
  border-radius: 5px;
  padding: 3px;
  width: auto;
  height: auto;
  font-size: small;
  font-weight: bold;
  color: rgb(53, 51, 51);
}

/* searchbar */

#map-search-container {
  margin-top: 7vh;
  display: flex;
  flex-direction: row-reverse;
  height: 68vh;
  width: 100%;
}

#search-and-featured {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  flex: 0 0 180px;
  height: 68vh;
}
#featured {
  height: 38vh;
  box-sizing: border-box;
  width: 200px;
  box-shadow: 0 0 10px 3px rgb(206, 206, 206);
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 4px 4px 4px 0;
}
#featured p,
#fblog p {
  margin: 5px 15px;
}

#fblog {
  position: absolute;
  left: 0;
  top: 44.5vh;
  height: 50.5vh;
  width: 250px;
  box-sizing: border-box;
  width: 200px;
  box-shadow: 0 0 10px 3px rgb(206, 206, 206);
  border-radius: 10px;
  margin-left: 10px;
  padding: 4px 4px 4px 0;
  z-index: -1;
}

.search-container {
  box-sizing: border-box;
  height: 22vh;
  width: 200px;
  box-shadow: 0 0 10px 3px rgb(206, 206, 206);
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 15px;
  padding: 4px 4px 4px 0;
  --searchbar-height: 30px;
}

.searchbar {
  height: var(--searchbar-height);
  box-sizing: border-box;
  position: relative;
  width: calc(100% - 17px);
}

.search-symbol {
  all: unset;
  height: 30px;
  width: 35px;
  position: absolute;
  top: 0;
  right: -19px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar input {
  all: unset;
  height: 30px;
  width: 80%;
  margin-left: 20px;
  color: rgb(85, 85, 85);
}

.bi {
  color: rgb(51, 51, 51);
  position: absolute;
  transition: all linear 200ms;
  &:first-of-type {
    z-index: 1;
  }
  &:nth-of-type(2) {
    cursor: pointer;
  }
}

.search-countries {
  height: calc(100% - var(--searchbar-height));
  overflow: auto;
  list-style-type: none;
  padding: 0px;
}

.search-countries li {
  color: rgb(82, 82, 82);
  cursor: pointer;
  padding: 7px 7px 7px 13px;
  &:first-child {
    margin-top: 0px;
  }
  &:hover {
    background-color: rgb(206, 206, 206);
  }
}

.selected-country {
  font-weight: bold;
}

/* -----------TABLET------------ */

/* -----MENU------ */

/* -----MAP----- */

#map-box {
  margin: 0;
}
