.fide-schools-main {
  background: linear-gradient(240deg, #f5e4cf, #c3d7e9, #f5e4cf);
  display: block;
  width: 100%;
}

.sd-root-modern {
  background-color: #ffffff72 !important;
}

h2.fide-schools-title {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: 32px;
  letter-spacing: 4px;
  margin: 35px auto 20px auto;
}

div.fide-schools-wrapper {
  box-sizing: border-box;
  padding: 5px 13%;
}
div.fide-schools-wrapper * {
  box-sizing: border-box;
}

.fide-schools-top {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.fide-schools-wrapper h3 {
  font-size: 25px;
  margin-top: 15px;
}
.fide-schools-wrapper p {
  margin: 8px 0;
  line-height: 1.2;
  font-size: 18px;
}
.fide-schools-wrapper ul,
.fide-schools-wrapper ol {
  font-size: 18px;
}
.school-grading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.school-grading li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg,
svg * {
  box-sizing: unset;
}
.form-lang p {
  margin-right: 8px;
}
.form-lang {
  max-width: 100%;
  background-color: #ffffff72 !important;

  padding: 30px 0px 0px 40px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
.sd-page {
  padding: 0 !important;
}
.sd-body.sd-body--static {
  padding-top: 15px !important ;
}

ul.lang-checklist {
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
ul.lang-checklist li a {
  margin: 15px;
  display: flex;
  align-items: center;
}
ul.lang-checklist li a svg {
  margin-right: 8px;
}

.supporting-materials {
  max-width: 720px;
  margin: 40px auto;
  line-height: 3;
}

.supporting-materials div {
  font-weight: bolder;
}

.warning-container {
  color: #e60a3e;
  margin-top: 20px;
  font-size: 0.9rem;
}

ul.fide-schools-list li {
  list-style: inherit !important;
  margin: 15px 10px;
}

ul.fide-schools-list {
  list-style: inherit !important;
  list-style-position: inside;
  padding: 0px 30px;
}

.winners-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.fide-schools-main *,
.fide-schools-main * * {
  box-sizing: border-box;
}

.schtitle {
  font-size: 22px;
  font-weight: 500;
  display: block;
  height: 100px;
  padding: 39px 20px;
}

.sch {
  display: block;
  width: 20%;
  min-width: 255px;
  height: 220px;
  margin: 30px;
  padding: 20px;
  border: 3px solid #5b85aa;
  float: left;
  transform-origin: center center;
  transition: 0.5s;
  background-color: #ffffff62;
  position: relative;
}
.rotate {
  transform: rotate(calc(0deg + var(--rotation)));
}

.sch > div:first-of-type {
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.sch a,
.sch > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sch svg {
  margin: 0 3px;
}

.schmedal {
  position: absolute;
  right: -30px;
  bottom: -20px;
  overflow: hidden;
}

.schmedal svg {
  width: 100px !important;
  height: 100px !important;
}

html {
  overflow-x: hidden;
}
