@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* HTML5 display-role reset for older browsers */

body {
  line-height: 1;
  background-color: white;
  color: black;
  font-family: "Raleway", Tahoma, Geneva, Verdana, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------- FŐMENÜ BEÁLLÍTÁSOK ASZTALRA----------- */

.l2b {
  display: none;
}

#menu-icon {
  display: none;
  position: fixed;
  right: 30px;
  top: 18.5px;
  height: 63px;
  width: 110px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 24;
}

#mainmenu {
  width: 100vw;
  height: 25vh;
  min-height: 150px;
  padding: 0;
}

#mainmenu .logo-container {
  display: block;
  width: 100vw;
  padding: 0;
  height: 15vh;
  min-height: 90px;
  background-color: #5b85aa;
}

#logo {
  margin-top: 18.5px;
  margin-left: 20px;
}

h1 {
  position: absolute;
  top: 27.5px;
  left: 150px;
  font-size: 45px;
  color: white;
  font-weight: 400;
}

#fidelogo {
  position: absolute;
  top: 18.5px;
  right: 235px;
}

/* ------------ ELSŐ SZINT -------------- */

.lista-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 10vh;
  min-height: 60px;
  background-color: white;
  color: black;
}

.lista-1 li {
  font-size: 22px;
  padding: 24.5px 2.2vw;
  margin: 0 0.5vw;
  height: 8vh;
  text-align: center;
  background-image: linear-gradient(#5b85aa, #5b85aa);
  background-size: 0% 0.1em;
  background-position-y: 50%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in;
  &:hover,
  &:focus,
  &:active {
    background-size: 100% 0.1em;
  }
}

.lista-1 li:nth-of-type(4) + .lista-2 li {
  cursor: auto;
}

.lista-1 li:nth-of-type(4) + .lista-2 li:hover::before {
  position: absolute;
  top: 40px;
  content: "Coming soon!";
  color: #c5725f;
  background-color: white;
  border-radius: 10px;
  padding: 4px;
}

.lista-1 li:last-child {
  padding-top: 15px;
  background-image: none;
}

/* -------- MÁSODIK SZINT ------------- */

.lista-2 {
  display: none;
  position: absolute;
  width: 100vw;
  left: 0;
  height: 7vh;
  min-height: 45px;
  background-color: #91b0b2;
  color: white;
}

@keyframes lista2jovetel {
  from {
    top: 15vh;
    z-index: -150;
  }

  to {
    top: 25vh;
    z-index: 1;
  }
}

.lista-1 li:hover + .lista-2,
.lista-2:hover {
  display: flex;
  justify-content: center;
  top: 25vh;
  animation-name: lista2jovetel;
  animation-duration: 0.3s;
  z-index: 1;
}

.lista-2 li {
  margin: 0;
  cursor: pointer;
  font-size: 18px;
  padding: 16px 2.5vw;
  background-image: linear-gradient(#ffffff, #ffffff);
  background-size: 0% 0.1em;
  background-position-y: 44%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in;
  &:hover,
  &:focus,
  &:active {
    background-size: 70% 0.1em;
  }
}

.lista-2 li:last-child {
  padding: 16px 4vw;
  background-image: linear-gradient(#ffffff, #ffffff);
  background-size: 0% 0.1em;
  background-position-y: 44%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in;
  &:hover,
  &:focus,
  &:active {
    background-size: 70% 0.1em;
  }
}

footer {
  height: 80px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #5b85aa;
  color: white;
  font-size: 16px;
  font-weight: 450;
  line-height: 1.3;
}

footer a {
  text-align: left;
}

/* BLOG */

.blogsor {
  display: flex;
  justify-content: center;
  height: 420px;
  box-sizing: border-box;
  background-image: linear-gradient(#5b85aa, #5b85aa);
  border-bottom: 0;
  padding: 10px;
  &:first-of-type {
    padding-top: 20px;
  }
}

.blog-card {
  overflow: hidden;
  margin: 0 10px;
  position: relative;
}

.blog-card h2 {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 180px 30px;
  font-size: 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 0;
  transition: 0.5s;
  &:hover {
    border-radius: 10px;
    background-color: #91b0b2;
    border: 15px solid white;
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: 22px;
  }
}

.blog-card:hover h2 {
  border-radius: 10px;
  background-color: #91b0b2;
  border: 15px solid white;
  padding: 30px;
  color: white;
  font-weight: bold;
  font-size: 22px;
}

.blog-card p {
  z-index: 0;
  display: none;
  position: absolute;
}

.blog-card h2:hover ~ p,
.blog-card:hover h2 ~ p {
  display: block;
  top: 20%;
  font-size: 20px;
  z-index: 10;
  color: white;
  width: 70%;
  margin: 10%;
}
