@media only screen and (max-width: 1207px) {
  .lista-2 > li {
    padding: 14px 2vw;
  }
}

@media only screen and (max-width: 1200px) {
  .search-filters ul {
    height: 80%;
  }
  .result-card .year-tag {
    width: 25%;
  }
  .result-card h2 {
    font-size: 16px;
  }
  .profile-logout {
    position: static;
    margin-top: 11px;
    border-radius: 0;
    width: 100%;
    text-align: center;
  }

  main,
  main.search {
    margin-top: 0;
  }

  #fidelogo {
    padding-right: 10vw;
    padding-top: 10px;
    padding-left: 0;
  }

  #logo {
    padding-left: 10vw;
    padding-top: 10px;
    padding-right: 0;
  }
  #mainmenu {
    height: 90px;
    min-height: 90px;
  }
  #mainmenu .logo-container {
    align-items: flex-start;
    height: 103px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  h1 {
    padding-top: 70px;
    text-align: center;
    font-size: 1.5em;
  }

  .lista2-hatter {
    display: none;
  }

  #socmed-container {
    position: initial;
    right: 15px;
    top: 15px;
  }

  #menu-icon {
    display: block;
    position: absolute;
    left: -9999px;
  }

  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label {
    position: absolute;
    top: 8px;
    display: block;
    width: 40px;
    height: 35px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    z-index: 24;
    transition: left 450ms 800ms cubic-bezier(0.23, 1, 0.32, 1),
      top 450ms 800ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 450ms 800ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu-icon:not(:checked) + label {
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .menu-icon:checked + label {
    transform: none;
    left: 15px;
    top: 3%;
  }

  /* -------ALSÓ-FELSŐ VONAL---------- */

  .menu-icon:checked + label:before,
  .menu-icon:not(:checked) + label:before {
    position: absolute;
    content: "";
    display: block;
    width: 40px;
    height: 35px;
    z-index: 24;
    top: 0;
    left: 0;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    transition: border-width 50ms 750ms ease,
      top 50ms 800ms cubic-bezier(0.23, 1, 0.32, 1),
      height 50ms 800ms cubic-bezier(0.23, 1, 0.32, 1),
      background-color 100ms ease,
      transform 100ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  /* ---- KÖZÉPSŐ VONAL------ */
  .menu-icon:checked + label:after,
  .menu-icon:not(:checked) + label:after {
    position: absolute;
    content: "";
    display: block;
    width: 28px;
    height: 3px;
    z-index: 20;
    top: 17.5px;
    right: 6px;
    background-color: white;
    margin-top: 2px;
    transition: width 50ms 650ms ease, right 50ms 650ms ease,
      margin-top 50ms ease, transform 100ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu-icon:checked + label:before {
    top: 17.5px;
    transform: rotate(45deg);
    height: 3px;
    background-color: white;
    border-width: 0;
    transition: border-width 50ms 340ms ease,
      top 50ms 150ms cubic-bezier(0.23, 1, 0.32, 1),
      height 50ms 150ms cubic-bezier(0.23, 1, 0.32, 1),
      background-color 100ms 250ms ease,
      transform 100ms 550ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu-icon:checked + label:after {
    width: 40px;
    margin-top: 0;
    background-color: white;
    right: 0;
    transform: rotate(-45deg);
    transition: width 50ms ease, right 50ms ease, margin-top 50ms 250ms ease,
      transform 100ms 550ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  /* UJ NAVIGACIO */

  .navtarolo {
    border: 3px solid white;
    border-top: none;
    box-sizing: border-box;
    position: absolute;
    background-color: #5b85aa;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    display: block;
    width: 80px;
    height: 65px;
    padding: 0;
    margin: 0;
    z-index: 20;
    overflow: hidden;
    border-bottom-right-radius: 30%;
    animation: lebeges 9s linear infinite;
    transition: top 450ms 800ms cubic-bezier(0.23, 1, 0.32, 1),
      left 450ms 800ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 100ms 550ms cubic-bezier(0.23, 1, 0.32, 1),
      width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
      height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
      border-bottom-right-radius 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  @keyframes lebeges {
    0%,
    100% {
      border-radius: 0% 0% 54% 46% / 0% 0% 52% 45%;
    }
    14% {
      border-radius: 0% 0% 54% 46% / 0% 0% 40% 51%;
    }
    28% {
      border-radius: 0% 0% 38% 62% / 0% 0% 30% 51%;
    }
    42% {
      border-radius: 0% 0% 55% 45% / 0% 0% 62% 39%;
    }
    56% {
      border-radius: 0% 0% 67% 33% / 0% 0% 50% 30%;
    }
    70% {
      border-radius: 0% 0% 34% 66% / 0% 0% 32% 44%;
    }
    84% {
      border-radius: 0% 0% 50% 50% / 0% 0% 39% 65%;
    }
  }

  .menu-icon:checked ~ .navtarolo {
    animation: none;
    border-bottom-right-radius: 0;
    background-color: #5b85aa;
    transform: none;
    left: 0;
    top: 0px;
    width: 100vw;
    height: 100vh;
    transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
      left 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 250ms 700ms ease,
      width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
      height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
      border-radius 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .navtarolo .lista-1 {
    background-color: #5b85aa;
    opacity: 0;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    padding: 8% 10%;
    flex-direction: column;
    color: white;
    transition: visibility 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu-icon:checked ~ .navtarolo .lista-1 {
    opacity: 1;
    transition: opacity 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .navtarolo .lista-1 > li {
    cursor: pointer;
    text-align: left;
    font-size: 32px;
    pointer-events: none;
    padding: 15px 0;
    height: fit-content;
    opacity: 0;
    visibility: hidden;
    background: none;
  }
  .navtarolo .lista-1 li * {
    pointer-events: none;
  }
  .navtarolo .lista-1 li a {
    pointer-events: all;
  }

  .menu-icon:checked ~ .navtarolo .lista-1 > li {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transition: opacity 350ms ease, transform 250ms ease;
  }

  .ontablet2 {
    display: flex !important;
    position: fixed;
    animation: none;
    border-radius: 10px;
    padding: 50px 3%;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(25%, -50%);
    width: 30%;
    height: 70%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    color: #5b85aa;
    font-size: 20px;
    height: fit-content;
  }

  .ontablet2 > li {
    padding-bottom: 30px;
    padding-left: 5px;
  }

  .ontablet2 li ul {
    font-size: 19px;
    list-style: square;
    margin-left: 30px;
  }

  .ontablet2 li ul li {
    padding-bottom: 10px;
  }
  .ontablet2 li ul li:first-of-type {
    padding-top: 10px;
  }

  /* TÉRKÉP ÉS TÁRSAI */
  .main-flex {
    margin-top: 10px;
    height: fit-content;
    flex-direction: column;
  }
  .left-side,
  .right-side {
    width: 100%;
    height: 450px;
    flex-direction: row;
  }

  .calendar-list-container,
  #featured {
    width: calc(50% - 20px);
    overflow-y: scroll;
    height: 95%;
  }

  .calendar-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  .featured-img {
    margin: 10px;
  }

  .search-container,
  .country-menu-container {
    height: 95%;
    width: 45%;
    margin-top: 0;
  }
  .search-container {
    margin: 0 10px;
  }

  .country-name {
    font-size: 22px;
  }

  .country-menu {
    height: 90%;
    font-size: 20px;
  }

  .country-menu li ul li {
    font-size: 18px;
  }

  /* LOGIN SIGNUP ÉS TÁRSAI */

  label[for="login-signup"] {
    position: static;
    display: block;
    width: 100%;
    text-align: center;
    height: fit-content;
    margin-top: 15px;
    border-radius: 30px;
    z-index: 2;
    height: 55px;
  }
  label[for="login-signup"]:hover {
    width: 100%;
  }
  label[for="login-signup"] div {
    z-index: 2;
    justify-content: center;
  }
  label[for="login-signup"] div #socmed-container {
    z-index: 2;
    margin-left: 40px;
  }
  label[for="login-signup"] img,
  label[for="login-signup"] p {
    margin-top: 5px;
  }
  #login-signup:checked {
    margin: 0;
    appearance: unset;
    display: block;
    position: absolute;
    top: 18.5px;
    right: 0;
    width: 90px;
    height: 63px;
    z-index: 500;
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    cursor: pointer;
    background-image: url("close.png");
    background-repeat: no-repeat;
    background-position: 20% 50%;
  }
  label[for="login-signup"] p {
    display: inline;
  }

  /* KERESES */
  #searchpm {
    position: static;
    margin: 10px 0;
    padding: 0;
  }
  #keresotarto {
    width: 60%;
  }
  #keresotarto:active,
  #keresotarto:focus,
  #keresotarto:focus-visible {
    width: 70%;
  }
  #sfr-container {
    flex-direction: column;
  }
  #searchfilters,
  #searchresults {
    width: 90%;
    margin: 10px 5%;
  }
  #searchtitles {
    display: none;
  }

  /* CALENDAR */
  .calendar-head,
  #calendar {
    margin: 10px 5%;
    width: 90%;
  }

  /* DOWNLOAd */

  main.download {
    padding: 10px 5%;
  }
  .categories {
    flex-wrap: wrap;
  }

  .materials * {
    word-wrap: break-word;
    white-space: wrap;
    font-size: 13px;
  }

  .materials th:nth-child(1) {
    width: 30%;
  }
  .materials th:nth-child(2) {
    width: 45%;
  }

  .materials th:nth-child(3) {
    width: 25%;
  }

  /* TITLEHOLDERS */
  .vscomp-toggle-button {
    width: 95%;
  }

  main.commission {
    padding: 20px 10%;
  }
  main.download input:checked + label {
    padding: 15px 10px;
  }

  .map-info {
    transform: none;
  }
}
