.titleholders-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 15%;
  box-sizing: border-box;
  background-color: #5b85aa;
}

.titleholders-flex * {
  box-sizing: border-box;
}

.titleholders-flex > div:first-of-type {
  width: 40%;
  padding: 20px;
  background-color: white;
}
.titleholders-flex > div:nth-of-type(2) {
  display: flex;
  width: 60%;
  padding: 20px;
  flex-direction: column;
  background-color: white;
}

label[for="lsititleholders"],
label[for="sititleholders"],
label[for="slititleholders"] {
  display: block;
  font-size: 22px;
  margin-bottom: 15px;
}

.titleholders-container {
  width: 95%;
  border-radius: 5px;
  height: 380px;
  border: solid black 2px;
  overflow: auto;
}
.titleholder-option {
  transition: 0.5s;
  letter-spacing: initial;
  font-size: 16px;
  background-color: initial;
  padding: 5px 0;
}
.titleholder-option:hover,
.option-active {
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 17px;
  background-color: rgb(219, 219, 219);
}
.option-active {
  background-color: #5b85aa;
  color: white;
}

.titleholders-filters {
  background-color: #91b0b2;
  height: 30%;
  min-height: 190px;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.titleholders-filters p {
  margin-bottom: 15px;
  font-size: 20px;
  text-decoration: overline;
}

.titleholders-filters ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 18px;
}

.titleholders-filters ul li:last-of-type {
  margin-top: 15px;
  position: relative;
}
.clear-th-name {
  position: absolute;
  right: 10px;
  top: 8.8px;
  color: black;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.titleholders-filters ul li:last-of-type input {
  height: 35.6px;
  border-radius: 15px;
  font-size: 15px;
  padding-left: 8px;
  width: max-content;
}

.chosen-titleholder p {
  margin-top: 37px;
  margin-bottom: 8px;
  font-size: 20px;
}

.chosen-titleholder p {
  margin-top: 25px;
}
.chosen-titleholder ul li {
  font-size: 18px;
  margin-top: 10px;
}
.chosen-titleholder ul li span {
  font-size: 17px;
  display: block;
  margin-top: 9px;
  margin-left: 30px;
  font-weight: 600;
}

#country-filter,
#year-filter {
  margin-top: 10px;
}

.titleholders-flex ~ .add-material {
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
  border: 0;
  margin: 0 15%;
  border-radius: 0;
  background-color: white;
}
.titleholders-flex ~ .add-material p {
  font-size: 18px;
  margin-top: 15px;
}
.titleholders-flex ~ .add-material p:first-of-type {
  font-size: 20px;
  margin-top: 0;
}
main.holder {
  background-color: #5b85aa;
  margin-top: 0;
  padding-top: 45px;
}
.titleholders-flex ~ .add-material label[for="LSI"],
.titleholders-flex ~ .add-material label[for="SI"],
.titleholders-flex ~ .add-material label[for="SLI"] {
  display: inline-block;
  margin: 10px 5px;
  height: fit-content;
  width: fit-content;
}

.titleholders-flex ~ .add-material .title-types-div div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titleholders-flex ~ .add-material input[name="title-type"] {
  display: inline-block;
  margin: 0;
  height: 20px;
  width: 20px;
}

.title-types-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.chosen-titleholder .fancytime {
  height: 30px;
  font-size: 17px;
  width: fit-content;
  margin: 5px;
}
.fancytime:disabled {
  color: grey;
  background-image: none;
  cursor: auto;
  border: 2px solid grey;
}
.titleholders-flex ~ .add-material .fancytime {
  border-radius: 0;
  display: inline-block;
  margin-left: 30px;
}
