main {
  margin-top: 7vh;
}

.titleholders-flex {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 15%;
  background-color: #5b85aa;
}

.titleholders-flex * {
  box-sizing: border-box;
}

.titleholders-flex > div {
  width: 35%;
  padding: 20px;
  background-color: white;
}
.titleholders-flex > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
}
.titleholders-flex > div:nth-of-type(2) > div:first-of-type {
  height: 30%;
}

label[for="lsititleholders"],
label[for="sititleholders"] {
  display: block;
  font-size: 22px;
  margin-bottom: 15px;
}

.titleholders-select select {
  border-radius: 5px;
  height: 380px;
}
.titleholders-select select option {
  transition: 0.5s;
  letter-spacing: initial;
  font-size: 16px;
  background-color: initial;
}
.titleholders-select select option:hover,
.titleholders-select select option:checked {
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 17px;
  background-color: rgb(219, 219, 219);
}
.titleholders-select select option:checked {
  background-color: #5b85aa;
  color: white;
}

.titleholders-filters {
  background-color: #91b0b2;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.titleholders-filters p {
  margin-bottom: 15px;
  font-size: 20px;
  text-decoration: overline;
}

.titleholders-filters ul {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.titleholders-filters input {
  display: block;
  margin-top: 5px;
  border-color: #5b85aa;
  border-style: initial;
  border-width: 3px;
  height: 25px;
  border-radius: 50px;
  padding-left: 10px;
}

.chosen-titleholder p {
  margin-top: 37px;
  margin-bottom: 8px;
  font-size: 20px;
}

.chosen-titleholder p {
  margin-top: 25px;
}
.chosen-titleholder ul li {
  font-size: 18px;
  margin-top: 10px;
}
.chosen-titleholder ul li span {
  font-size: 17px;
  display: block;
  margin-top: 9px;
  margin-left: 30px;
  font-weight: 600;
}
