<% layout('layouts/boilerplate') %>
<main class="intro">
  <form action="/pot/coursebook/password" method="post">
    <label for="coursebook-password"
      >Enter your password to see the coursebooks!</label
    >
    <input type="password" id="coursebook-password" name="coursebookPw" />
    <button type="submit">Enter</button>
  </form>
</main>
