<% layout('layouts/boilerplate') %>
<main class="intro">
  <form action="/pot/coursebook/password" method="post">
    <h2>
      <label for="coursebook-password">Enter coursebook password:</label>
    </h2>
    <p class="coursebook-password">
      <input type="password" id="coursebook-password" name="coursebookPw" />
      <span class="visible-password" id="coursespan"></span>
    </p>
    <p>
      <button type="submit" class="fancytime" id="bruh">Enter</button>
    </p>
  </form>
</main>
<script>
  document.querySelector("#coursespan").addEventListener("click", (evt) => {
    const input = evt.target.previousElementSibling;
    const type =
      input.getAttribute("type") === "password" ? "text" : "password";
    input.setAttribute("type", type);
  });
</script>
