<% layout('layouts/boilerplate') %>
<main class="intro">
  <div id="coursebook-pw-container">
    <form
      action="/pot/coursebook"
      method="post"
      id="coursebook-password-form"
      novalidate
    >
      <h2>
        <label for="coursebook-password">Enter coursebook password:</label>
      </h2>
      <p class="coursebook-password">
        <input
          type="password"
          id="coursebook-password"
          name="coursebookPw"
          required
          maxlength="20"
        />
        <span class="visible-password" id="coursespan"></span>
      </p>
      <div class="error" id="coursebook-password-error"></div>
      <p>
        <button type="submit" class="fancytime" id="coursebook-password-button">
          Enter
        </button>
      </p>
    </form>
  </div>
</main>
<script>
  document.querySelector("#coursespan").addEventListener("click", (evt) => {
    const input = evt.target.previousElementSibling;
    const type =
      input.getAttribute("type") === "password" ? "text" : "password";
    input.setAttribute("type", type);
  });
</script>
<script src="/js/coursebook-password-validation.js"></script>
