<% layout('layouts/boilerplate') %>
<main class="intro">
  <h2>Preparation of Teachers Coursebook</h2>
  <iframe
    allowfullscreen="allowfullscreen"
    src="https://designrr.page?id=300294&token=70883574&type=FP&h=2930"
    height="600"
    width="100%"
    frameborder="0"
  ></iframe>
</main>
