<% layout('layouts/boilerplate') %>
<main class="intro">
  <h2>Preparation of Teachers Coursebook</h2>
  <iframe
    allowfullscreen="allowfullscreen"
    src="https://designrr.page?id=331709&token=2893610376&type=FP&h=7828"
    height="600"
    width="100%"
    frameborder="0"
  ></iframe>
</main>
