<% layout('layouts/boilerplate') %>
<main class="intro">
  <div class="text-body"></div>
  <% if (typeof currentUser !== "undefined") { if (currentUser.role === "admin")
  {%>
  <a href="/pot/potinfo/edit"> <button class="fancytime">Edit</button></a>
  <%}} %>
</main>
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="/js/image-resize.min.js"></script>
<script src="/js/staticPage.js"></script>
