<% layout('layouts/boilerplate') %>
<main class="holder">
  <section class="titleholders-flex">
    <div class="titleholders-select" data-t="<%= titleholdersData %>">
      <% if (type === 'lsi') { %>
      <label for="lsititleholders">LSI Title Holders</label>
      <div
        name="lsititleholders"
        id="lsititleholders"
        class="titleholders-container"
      ></div>
      <% } else if (type === 'si') { %>
      <label for="sititleholders">SI Title Holders</label>
      <div
        name="sititleholders"
        id="sititleholders"
        class="titleholders-container"
      ></div>
      <% } else if(type === 'sli') { %>
      <label for="slititleholders">SLI Title Holders</label>
      <div
        name="slititleholders"
        id="slititleholders"
        class="titleholders-container"
      ></div>
      <% } %>
    </div>
    <div>
      <div class="titleholders-filters">
        <p>Filter Titleholders By:</p>
        <ul>
          <li>
            Country:
            <div id="country-filter"></div>
          </li>
          <li>
            Year Of Award:
            <div id="year-filter"></div>
          </li>
          <li>
            Full Name:
            <input type="text" />
            <span class="clear-th-name">X</span>
          </li>
        </ul>
      </div>
      <div class="chosen-titleholder">
        <p id="selected-tl-picture">Selected Titleholder:</p>
        <% if (typeof currentUser !== "undefined") {if (currentUser.role ===
        "admin") {%>
        <button id="delete-holder" class="fancytime" disabled>Delete</button>
        <button id="edit-holder" class="fancytime" disabled>Edit</button>
        <span class="admin-user-logged"></span>
        <% }} %>
        <ul>
          <li>
            First Name:
            <span></span>
          </li>
          <li>
            Last Name:
            <span></span>
          </li>
          <li>
            Country:
            <span></span>
          </li>
          <li>FIDE ID: <span></span></li>
          <li>Year Of Award:<span></span></li>
        </ul>
      </div>
    </div>
    <div class="titleholder-introduction">
      <p></p>
    </div>
  </section>

  <% if (typeof currentUser !== "undefined") {if (currentUser.role === "admin")
  {%>
  <form action="/pot/titleholders/addholder" class="add-material">
    <p>Add Titleholder:</p>
    <label for="holder-fname">First Name(s):</label>
    <input type="text" name="holder-fname" id="holder-fname" /><label
      for="holder-lname"
      >Last Name(s):</label
    >
    <input type="text" name="holder-lname" id="holder-lname" />
    <div id="country-holder-new"></div>
    <label for="fideid-new-holder">FIDE ID:</label>
    <input type="text" name="fideid-new-holder" id="fideid-new-holder" />
    <label for="fideid-new-holder">Country:</label>
    <div id="country-new-holder"></div>
    <label for="new-holder-date">Year Of Award: </label>
    <input type="text" name="new-holder-date" id="new-holder-date" />
    <label for="new-holder-br-intro">Brief Introduction:</label>
    <input type="text" name="new-holder-br-intro" id="new-holder-br-intro" />
    <label for="new-holder-img">Profile Picture:</label>
    <input type="file" name="new-holder-img" id="new-holder-img" />
    <p>Type of Title:</p>
    <div class="title-types-div">
      <div>
        <input type="checkbox" name="title-type" id="SI" value="SI" />
        <label for="SI">School Instructor</label>
      </div>
      <div>
        <input type="checkbox" name="title-type" id="LSI" value="LSI" />
        <label for="LSI">Lead School Instructor</label>
      </div>
      <div>
        <input type="checkbox" name="title-type" id="SLI" value="SLI" />
        <label for="SLI">Senior Lead Instructor</label>
      </div>
    </div>

    <button type="submit" value="Add" class="fancytime" id="add-holder">
      Add
    </button>
    <button
      type="submit"
      value="Update"
      id="update-holder"
      class="fancytime"
      disabled
    >
      Update
    </button>
    <button id="cancel-holder" class="fancytime" disabled>Cancel</button>
  </form>
  <script></script>
  <% } }%>
</main>
<script src="/js/orszagkodok.js"></script>
<script src="/js/virtual-select.min.js"></script>
<script src="/js/titleholders.js"></script>
