<% layout('layouts/boilerplate') %>

<main>
  <div class="reset-container">
    <div>Enter your new password!</div>
    <form action="/resetpassword" method="post" class="reset-form">
      <label for="new-password">New Password:</label>
      <input type="password" id="new-password" name="password" />
      <input type="hidden" name="token" value="<%= token %>" />
      <input type="hidden" name="userId" value="<%= userId %>" />
      <button type="submit" class="fancytime reset-btn">Submit</button>
    </form>
  </div>
</main>
