<% layout('layouts/boilerplate') %>
<main>
  <% blogposts.forEach((blog) => {%>
  <a class="blog-card" href="/blog/<%= blog.id %>">
    <img src="<%= blog.image %>" alt="" />
    <h2><%= blog.title %></h2>
    <p><%= blog.text %></p>
  </a>
  <% }) %>
</main>
