<% layout('layouts/boilerplate') %>
<main>
  <div class="edit-main">
    <label for="title" class="title-label">Title:</label>
    <input
      type="text"
      id="title"
      name="title"
      class="title-input"
      value="<%= post.title %>"
    />
    <div class="editor-container">
      <div id="editor">
        <p>Hello World!</p>
        <p>Some initial <strong>bold</strong> text</p>
        <p><br /></p>
      </div>
    </div>
    <button id="save-edit" class="fancytime">Save</button>
  </div>
</main>
